In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# MARKET INDEX INFO

## NASDAQ HISTORICAL PERFORMANCE

In [2]:

# URL of the page
# url = "https://www.macrotrends.net/1320/nasdaq-historical-chart"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/1320/nasdaq-historical-chart", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    table = soup.find('table', class_='table') # was 'historical-data-table', just do 'table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    nasdaq_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    # Convert data types of DataFrame as necessary, for example:
    nasdaq_df['Year'] = pd.to_numeric(nasdaq_df['Year'])
    nasdaq_df['Average Closing Price'] = pd.to_numeric(nasdaq_df['Average Closing Price'].str.replace(',', ''), errors='coerce')
    nasdaq_df['Annual % Change'] = pd.to_numeric(nasdaq_df['Annual % Change'].str.replace('%', ''), errors='coerce')

    # Repeat for other columns as necessary
    
    print(nasdaq_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

      Year  Average Closing Price  Year Open  Year High   Year Low Year Close  \
0      NaN                    NaN       None       None       None       None
1   2024.0               15616.44  14,765.94  16,369.41  14,510.30  16,369.41
2   2023.0               12784.29  10,386.98  15,099.18  10,305.24  15,011.35
3   2022.0               12224.35  15,832.80  15,832.80  10,213.29  10,466.48
4   2021.0               14371.46  12,698.45  16,057.44  12,609.16  15,644.97
5   2020.0               10201.51   9,092.19  12,899.42   6,860.67  12,888.28
6   2019.0                7940.36   6,665.94   9,022.39   6,463.50   8,972.61
7   2018.0                7425.96   7,006.90   8,109.69   6,192.92   6,635.28
8   2017.0                6235.30   5,429.08   6,994.76   5,429.08   6,903.39
9   2016.0                4987.79   4,903.09   5,487.44   4,266.84   5,383.12
10  2015.0                4945.55   4,726.81   5,218.86   4,506.49   5,007.41
11  2014.0                4375.10   4,143.07   4,806.91   3,996.96   4,736.05
12  2013.0                3541.29   3,112.26   4,176.59   3,091.81   4,176.59
13  2012.0                2965.74   2,648.72   3,183.95   2,648.36   3,019.51
14  2011.0                2677.44   2,691.52   2,873.54   2,335.83   2,605.15
15  2010.0                2349.89   2,308.42   2,671.48   2,091.79   2,652.87
16  2009.0                1845.39   1,632.21   2,291.28   1,268.64   2,269.15
17  2008.0                2161.68   2,609.63   2,609.63   1,316.12   1,577.03
18  2007.0                2578.47   2,423.16   2,859.12   2,340.68   2,652.28
19  2006.0                2263.41   2,243.74   2,465.98   2,020.39   2,415.29
20  2005.0                2099.32   2,152.15   2,273.37   1,904.18   2,205.32
21  2004.0                1986.53   2,006.68   2,178.34   1,752.49   2,175.44
22  2003.0                1647.17   1,384.85   2,009.88   1,271.47   2,003.37
23  2002.0                1539.73   1,979.25   2,059.38   1,114.11   1,335.51
24  2001.0                2029.61   2,291.86   2,859.15   1,423.19   1,950.40
25  2000.0                3783.67   4,131.15   5,048.62   2,332.78   2,470.52
26  1999.0                2728.15   2,208.05   4,069.31   2,208.05   4,069.31
27  1998.0                1794.91   1,581.53   2,192.69   1,419.12   2,192.69
28  1997.0                1469.48   1,280.70   1,745.85   1,201.00   1,570.35
29  1996.0                1164.95   1,058.65   1,316.27     988.57   1,291.03
30  1995.0                 925.19     743.58   1,069.79     743.58   1,052.13
31  1994.0                 751.65     770.76     803.93     693.79     751.96
32  1993.0                 715.16     671.80     787.42     645.87     776.80
33  1992.0                 599.26     586.45     676.95     547.84     676.95
34  1991.0                 491.69     372.20     586.34     355.80     586.34
35  1990.0                 409.18     459.30     469.60     325.40     373.80
36  1989.0                 437.81     378.60     485.70     378.60     454.80
37  1988.0                 374.44     338.50     396.10     332.00     381.40
38  1987.0                 402.58     353.20     455.80     291.90     330.50
39  1986.0                 366.97     325.00     411.20     323.00     348.80
40  1985.0                 290.23     245.90     325.20     245.90     324.90
41  1984.0                 248.98     277.63     287.90     225.30     247.10
42  1983.0                 285.43     230.59     328.91     230.59     278.60
43  1982.0                 188.97     195.53     240.70     159.14     232.41
44  1981.0                 203.18     203.55     223.47     175.03     195.84
45  1980.0                 168.61     148.17     208.15     124.09     202.34
46  1979.0                 136.57     117.84     152.29     117.84     151.14
47  1978.0                 117.53     104.00     139.25      99.09     117.98
48  1977.0                  98.71      97.69     105.05      93.66     105.05
49  1976.0                  89.90      78.06      97.88      78.06      97.88
50  1975.0                  77.20      60.70      88.00      60.70      77.62
51  1974.0                  76.28      92.53      96.53      54.87      59.82
52  1973.0                 109.96     134.63     136.84      88.67      92.19
53  1972.0                 128.53     113.65     135.15     113.65     133.73

    Annual % Change
0               NaN
1              9.05
2             43.42
3            -33.10
4             21.39
5             43.64
6             35.23
7             -3.88
8             28.24
9              7.50
10             5.73
11            13.40
12            38.32
13            15.91
14            -1.80
15            16.91
16            43.89
17           -40.54
18             9.81
19             9.52
20             1.37
21             8.59
22            50.01
23           -31.53
24           -21.05
25           -39.29
26            85.59
27            39.63
28            21.64
29            22.71
30            39.92
31            -3.20
32            14.75
33            15.45
34            56.86
35           -17.81
36            19.24
37            15.40
38            -5.25
39             7.36
40            31.49
41           -11.31
42            19.87
43            18.67
44            -3.21
45            33.88
46            28.11
47            12.31
48             7.33
49            26.10
50            29.76
51           -35.11
52           -31.06
53            17.18

## DOW JONES HISTORICAL PERFORMANCE

In [3]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/1319/dow-jones-100-year-historical-chart", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    # For this example, let's assume we're looking for a table with the class 'historical-data-table'
    table = soup.find('table', class_='table') # was 'historical-data-table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    dowj_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    # Convert data types of DataFrame as necessary, for example:
    dowj_df['Year'] = pd.to_numeric(dowj_df['Year'])
    dowj_df['Average Closing Price'] = pd.to_numeric(dowj_df['Average Closing Price'].str.replace(',', ''), errors='coerce')
    dowj_df['Annual % Change'] = pd.to_numeric(dowj_df['Annual % Change'].str.replace('%', ''), errors='coerce')

    # Repeat for other columns as necessary
    
    print(dowj_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

       Year  Average Closing Price  Year Open  Year High   Year Low  \
0       NaN                    NaN       None       None       None
1    2024.0               38427.22  37,715.04  39,781.37  37,266.67
2    2023.0               34121.54  33,136.37  37,710.10  31,819.14
3    2022.0               32898.34  36,585.06  36,799.65  28,725.51
4    2021.0               34055.29  30,223.89  36,488.63  29,982.62
..      ...                    ...        ...        ...        ...
106  1919.0                  99.79      82.60     119.62      79.35
107  1918.0                  80.97      76.68      89.07      73.38
108  1917.0                  87.87      96.15      99.18      65.95
109  1916.0                  95.27      98.81     110.15      86.42
110  1915.0                  74.45      54.63      99.21      54.22

    Year Close  Annual % Change
0         None              NaN
1    39,781.37             5.55
2    37,689.54            13.70
3    33,147.25            -8.78
4    36,338.30            18.73
..         ...              ...
106     107.23            30.45
107      82.20            10.51
108      74.38           -21.71
109      95.00            -4.19
110      99.15            81.49

[111 rows x 7 columns]

## S&P 500 HISTORICAL PERFORMANCE

In [4]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/2324/sp-500-historical-chart-data", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    # For this example, let's assume we're looking for a table with the class 'historical-data-table'
    table = soup.find('table', class_='table') # was 'historical-data-table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    sp500_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    # Convert data types of DataFrame as necessary, for example:
    sp500_df['Year'] = pd.to_numeric(sp500_df['Year'])
    sp500_df['Average Closing Price'] = pd.to_numeric(sp500_df['Average Closing Price'].str.replace(',', ''), errors='coerce')
    sp500_df['Annual % Change'] = pd.to_numeric(sp500_df['Annual % Change'].str.replace('%', ''), errors='coerce')

    # Repeat for other columns as necessary
    
    print(sp500_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

      Year  Average Closing Price Year Open Year High  Year Low Year Close  \
0      NaN                    NaN      None      None      None       None
1   2024.0                4971.18  4,742.83  5,241.53  4,688.68   5,241.53
2   2023.0                4283.73  3,824.14  4,783.35  3,808.10   4,769.83
3   2022.0                4097.49  4,796.56  4,796.56  3,577.03   3,839.50
4   2021.0                4273.41  3,700.65  4,793.06  3,700.65   4,766.18
..     ...                    ...       ...       ...       ...        ...
93  1932.0                   6.92      7.82      9.31      4.40       6.89
94  1931.0                  13.66     15.85     18.17      7.72       8.12
95  1930.0                  21.00     21.18     25.92     14.44      15.34
96  1929.0                  26.19     24.81     31.86     17.66      21.45
97  1928.0                  19.94     17.76     24.35     16.95      24.35

    Annual % Change
0               NaN
1              9.89
2             24.23
3            -19.44
4             26.89
..              ...
93           -15.15
94           -47.07
95           -28.48
96           -11.91
97            37.88

[98 rows x 7 columns]

## Merging these together

In [5]:
index_df = nasdaq_df.merge(dowj_df, on='Year', how='inner', suffixes=('_nasdaq', '_dowj'))
index_df = index_df.merge(sp500_df, on='Year', how='inner')
index_df

,Year,Average Closing Price_nasdaq,Year Open_nasdaq,Year High_nasdaq,Year Low_nasdaq,Year Close_nasdaq,Annual % Change_nasdaq,Average Closing Price_dowj,Year Open_dowj,Year High_dowj,Year Low_dowj,Year Close_dowj,Annual % Change_dowj,Average Closing Price,Year Open,Year High,Year Low,Year Close,Annual % Change
0,NaN,NaN,None,None,None,None,NaN,NaN,None,None,None,None,NaN,NaN,None,None,None,None,NaN
1,2024.0,15616.44,"14,765.94","16,369.41","14,510.30","16,369.41",9.05,38427.22,"37,715.04","39,781.37","37,266.67","39,781.37",5.55,4971.18,"4,742.83","5,241.53","4,688.68","5,241.53",9.89
2,2023.0,12784.29,"10,386.98","15,099.18","10,305.24","15,011.35",43.42,34121.54,"33,136.37","37,710.10","31,819.14","37,689.54",13.70,4283.73,"3,824.14","4,783.35","3,808.10","4,769.83",24.23
3,2022.0,12224.35,"15,832.80","15,832.80","10,213.29","10,466.48",-33.10,32898.34,"36,585.06","36,799.65","28,725.51","33,147.25",-8.78,4097.49,"4,796.56","4,796.56","3,577.03","3,839.50",-19.44
4,2021.0,14371.46,"12,698.45","16,057.44","12,609.16","15,644.97",21.39,34055.29,"30,223.89","36,488.63","29,982.62","36,338.30",18.73,4273.41,"3,700.65","4,793.06","3,700.65","4,766.18",26.89
5,2020.0,10201.51,"9,092.19","12,899.42","6,860.67","12,888.28",43.64,26890.67,"28,868.80","30,606.48","18,591.93","30,606.48",7.25,3217.86,"3,257.85","3,756.07","2,237.40","3,756.07",16.26
6,2019.0,7940.36,"6,665.94","9,022.39","6,463.50","8,972.61",35.23,26379.59,"23,346.24","28,645.26","22,686.22","28,538.44",22.34,2913.36,"2,510.03","3,240.02","2,447.89","3,230.78",28.88
7,2018.0,7425.96,"7,006.90","8,109.69","6,192.92","6,635.28",-3.88,25046.86,"24,824.01","26,828.39","21,792.20","23,327.46",-5.63,2746.21,"2,695.81","2,930.75","2,351.10","2,506.85",-6.24
8,2017.0,6235.30,"5,429.08","6,994.76","5,429.08","6,903.39",28.24,21750.20,"19,881.76","24,837.51","19,732.40","24,719.22",25.08,2449.08,"2,257.83","2,690.16","2,257.83","2,673.61",19.42
9,2016.0,4987.79,"4,903.09","5,487.44","4,266.84","5,383.12",7.50,17927.11,"17,148.94","19,974.62","15,660.18","19,762.60",13.42,2094.65,"2,012.66","2,271.72","1,829.08","2,238.83",9.54
10,2015.0,4945.55,"4,726.81","5,218.86","4,506.49","5,007.41",5.73,17587.03,"17,832.99","18,312.39","15,666.44","17,425.03",-2.23,2061.07,"2,058.20","2,130.82","1,867.61","2,043.94",-0.73
11,2014.0,4375.10,"4,143.07","4,806.91","3,996.96","4,736.05",13.40,16777.69,"16,441.35","18,053.71","15,372.80","17,823.07",7.52,1931.38,"1,831.98","2,090.57","1,741.89","2,058.90",11.39
12,2013.0,3541.29,"3,112.26","4,176.59","3,091.81","4,176.59",38.32,15009.52,"13,412.55","16,576.66","13,328.85","16,576.66",26.50,1643.80,"1,462.42","1,848.36","1,457.15","1,848.36",29.60
13,2012.0,2965.74,"2,648.72","3,183.95","2,648.36","3,019.51",15.91,12966.44,"12,397.38","13,610.15","12,101.46","13,104.14",7.26,1379.61,"1,277.06","1,465.77","1,277.06","1,426.19",13.41
14,2011.0,2677.44,"2,691.52","2,873.54","2,335.83","2,605.15",-1.80,11957.57,"11,670.75","12,810.54","10,655.30","12,217.56",5.53,1267.64,"1,271.87","1,363.61","1,099.23","1,257.60",0.00
15,2010.0,2349.89,"2,308.42","2,671.48","2,091.79","2,652.87",16.91,10668.58,"10,583.96","11,585.38","9,686.48","11,577.51",11.02,1139.97,"1,132.99","1,259.78","1,022.58","1,257.64",12.78
16,2009.0,1845.39,"1,632.21","2,291.28","1,268.64","2,269.15",43.89,8885.65,"9,034.69","10,548.51","6,547.05","10,428.05",18.82,948.05,931.80,"1,127.78",676.53,"1,115.10",23.45
17,2008.0,2161.68,"2,609.63","2,609.63","1,316.12","1,577.03",-40.54,11244.06,"13,043.96","13,058.20","7,552.29","8,776.39",-33.84,1220.04,"1,447.16","1,447.16",752.44,903.25,-38.49
18,2007.0,2578.47,"2,423.16","2,859.12","2,340.68","2,652.28",9.81,13178.26,"12,474.52","14,164.53","12,050.41","13,264.82",6.43,1477.18,"1,416.60","1,565.15","1,374.12","1,468.36",3.53
19,2006.0,2263.41,"2,243.74","2,465.98","2,020.39","2,415.29",9.52,11409.78,"10,847.41","12,510.57","10,667.39","12,463.15",16.29,1310.46,"1,268.80","1,427.09","1,223.69","1,418.30",13.62
20,2005.0,2099.32,"2,152.15","2,273.37","1,904.18","2,205.32",1.37,10546.66,"10,729.43","10,940.55","10,012.36","10,717.50",-0.61,1207.23,"1,202.08","1,272.74","1,137.50","1,248.29",3.00
21,2004.0,1986.53,"2,006.68","2,178.34","1,752.49","2,175.44",8.59,10315.51,"10,409.85","10,854.54","9,749.99","10,783.01",3.15,1130.65,"1,108.48","1,213.55","1,063.23","1,211.92",8.99
22,2003.0,1647.17,"1,384.85","2,009.88","1,271.47","2,003.37",50.01,9006.64,"8,607.52","10,453.92","7,524.06","10,453.92",25.32,965.23,909.03,"1,111.92",800.73,"1,111.92",26.38
23,2002.0,1539.73,"1,979.25","2,059.38","1,114.11","1,335.51",-31.53,9214.85,"10,073.40","10,635.25","7,286.27","8,341.63",-16.76,993.93,"1,154.67","1,172.51",776.76,879.82,-23.37
24,2001.0,2029.61,"2,291.86","2,859.15","1,423.19","1,950.40",-21.05,10199.29,"10,646.15","11,337.92","8,235.81","10,021.57",-7.10,1192.57,"1,283.27","1,373.73",965.80,"1,148.08",-13.04
25,2000.0,3783.67,"4,131.15","5,048.62","2,332.78","2,470.52",-39.29,10729.38,"11,357.51","11,722.98","9,796.03","10,787.99",-6.17,1427.22,"1,455.22","1,527.46","1,264.74","1,320.28",-10.14
26,1999.0,2728.15,"2,208.05","4,069.31","2,208.05","4,069.31",85.59,10481.56,"9,184.27","11,497.12","9,120.67","11,497.12",25.22,1327.33,"1,228.10","1,469.25","1,212.19","1,469.25",19.53
27,1998.0,1794.91,"1,581.53","2,192.69","1,419.12","2,192.69",39.63,8630.76,"7,965.00","9,374.27","7,539.07","9,181.43",16.10,1085.50,975.04,"1,241.81",927.69,"1,229.23",26.67
28,1997.0,1469.48,"1,280.70","1,745.85","1,201.00","1,570.35",21.64,7447.01,"6,442.49","8,259.30","6,391.70","7,908.30",22.64,873.43,737.01,983.79,737.01,970.43,31.01
29,1996.0,1164.95,"1,058.65","1,316.27",988.57,"1,291.03",22.71,5739.63,"5,177.45","6,560.91","5,032.94","6,448.27",26.01,670.49,620.73,757.03,598.48,740.74,20.26
30,1995.0,925.19,743.58,"1,069.79",743.58,"1,052.13",39.92,4494.28,"3,838.48","5,216.47","3,832.08","5,117.12",33.45,541.72,459.11,621.69,459.11,615.93,34.11
31,1994.0,751.65,770.76,803.93,693.79,751.96,-3.20,3794.22,"3,756.60","3,978.36","3,593.35","3,834.44",2.14,460.42,465.44,482.00,438.92,459.27,-1.54
32,1993.0,715.16,671.80,787.42,645.87,776.80,14.75,3524.92,"3,309.20","3,794.33","3,242.00","3,754.09",13.72,451.61,435.38,470.94,429.05,466.45,7.06
33,1992.0,599.26,586.45,676.95,547.84,676.95,15.45,3284.08,"3,172.40","3,413.20","3,136.60","3,301.11",4.17,415.75,417.26,441.28,394.50,435.71,4.46
34,1991.0,491.69,372.20,586.34,355.80,586.34,56.86,2929.04,"2,610.64","3,168.83","2,470.30","3,168.83",20.32,376.19,326.45,417.09,311.49,417.09,26.31
35,1990.0,409.18,459.30,469.60,325.40,373.80,-17.81,2679.45,"2,810.15","2,999.75","2,365.10","2,633.66",-4.34,334.63,359.69,368.95,295.46,330.22,-6.56
36,1989.0,437.81,378.60,485.70,378.60,454.80,19.24,2510.33,"2,144.64","2,791.41","2,144.64","2,753.20",26.96,323.05,275.31,359.80,275.31,353.40,27.25
37,1988.0,374.44,338.50,396.10,332.00,381.40,15.40,2061.48,"2,015.25","2,183.50","1,879.14","2,168.57",11.85,265.88,255.94,283.66,242.63,277.72,12.40
38,1987.0,402.58,353.20,455.80,291.90,330.50,-5.25,2277.53,"1,927.31","2,722.42","1,738.74","1,938.83",2.26,287.00,246.45,336.77,223.92,247.08,2.03
39,1986.0,366.97,325.00,411.20,323.00,348.80,7.36,1793.10,"1,537.73","1,955.57","1,502.29","1,895.95",22.58,236.39,209.59,254.00,203.49,242.17,14.62
40,1985.0,290.23,245.90,325.20,245.90,324.90,31.49,1327.99,"1,198.87","1,553.10","1,184.96","1,546.67",27.66,186.83,165.37,212.02,163.68,211.28,26.33
41,1984.0,248.98,277.63,287.90,225.30,247.10,-11.31,1178.59,"1,252.74","1,286.64","1,086.57","1,211.57",-3.74,160.46,164.04,170.41,147.82,167.24,1.40
42,1983.0,285.43,230.59,328.91,230.59,278.60,19.87,1190.78,"1,027.04","1,287.20","1,027.04","1,258.64",20.27,160.47,138.34,172.65,138.34,164.93,17.27
43,1982.0,188.97,195.53,240.70,159.14,232.41,18.67,884.53,882.52,"1,070.55",776.92,"1,046.54",19.60,119.71,122.74,143.02,102.42,140.64,14.76
44,1981.0,203.18,203.55,223.47,175.03,195.84,-3.21,932.95,972.78,"1,024.05",824.01,875.00,-9.23,128.04,136.34,138.12,112.77,122.55,-9.73
45,1980.0,168.61,148.17,208.15,124.09,202.34,33.88,891.14,824.57,"1,000.17",759.13,963.99,14.93,118.71,105.76,140.52,98.22,135.76,25.77
46,1979.0,136.57,117.84,152.29,117.84,151.14,28.11,844.38,811.42,897.61,796.67,838.74,4.19,103.00,96.73,111.27,96.13,107.94,12.31
47,1978.0,117.53,104.00,139.25,99.09,117.98,12.31,821.13,817.74,907.74,742.12,805.01,-3.15,96.11,93.82,106.99,86.90,96.11,1.06
48,1977.0,98.71,97.69,105.05,93.66,105.05,7.33,894.37,999.75,999.75,800.85,831.17,-17.27,98.18,107.00,107.00,90.71,95.10,-11.50
49,1976.0,89.90,78.06,97.88,78.06,97.88,26.10,975.20,858.71,"1,014.79",858.71,"1,004.65",17.86,102.04,90.90,107.83,90.90,107.46,19.15
50,1975.0,77.20,60.70,88.00,60.70,77.62,29.76,802.89,632.04,881.81,632.04,852.41,38.32,86.18,70.23,95.61,70.04,90.19,31.55
51,1974.0,76.28,92.53,96.53,54.87,59.82,-35.11,759.13,855.32,891.66,577.60,616.24,-27.57,82.78,97.68,99.80,62.28,68.56,-29.72
52,1973.0,109.96,134.63,136.84,88.67,92.19,-31.06,924.07,"1,031.68","1,051.70",788.31,850.86,-16.58,107.44,119.10,120.24,92.16,97.55,-17.37
53,1972.0,128.53,113.65,135.15,113.65,133.73,17.18,950.08,889.30,"1,036.27",889.15,"1,020.02",14.58,109.13,101.67,119.12,101.67,118.05,15.63

## Fixing the naming convention

In [6]:
index_df.rename(columns={
    'Average Closing Price': 'Average Closing Price_sp500',
    'Year Open': 'Year Open_sp500',
    'Year High': 'Year High_sp500',
    'Year Low': 'Year Low_sp500',
    'Year Close': 'Year Close_sp500',
    'Annual % Change': 'Annual % Change_sp500'
}, inplace=True)

index_df.head()

,Year,Average Closing Price_nasdaq,Year Open_nasdaq,Year High_nasdaq,Year Low_nasdaq,Year Close_nasdaq,Annual % Change_nasdaq,Average Closing Price_dowj,Year Open_dowj,Year High_dowj,Year Low_dowj,Year Close_dowj,Annual % Change_dowj,Average Closing Price_sp500,Year Open_sp500,Year High_sp500,Year Low_sp500,Year Close_sp500,Annual % Change_sp500
0,NaN,NaN,None,None,None,None,NaN,NaN,None,None,None,None,NaN,NaN,None,None,None,None,NaN
1,2024.0,15616.44,"14,765.94","16,369.41","14,510.30","16,369.41",9.05,38427.22,"37,715.04","39,781.37","37,266.67","39,781.37",5.55,4971.18,"4,742.83","5,241.53","4,688.68","5,241.53",9.89
2,2023.0,12784.29,"10,386.98","15,099.18","10,305.24","15,011.35",43.42,34121.54,"33,136.37","37,710.10","31,819.14","37,689.54",13.70,4283.73,"3,824.14","4,783.35","3,808.10","4,769.83",24.23
3,2022.0,12224.35,"15,832.80","15,832.80","10,213.29","10,466.48",-33.10,32898.34,"36,585.06","36,799.65","28,725.51","33,147.25",-8.78,4097.49,"4,796.56","4,796.56","3,577.03","3,839.50",-19.44
4,2021.0,14371.46,"12,698.45","16,057.44","12,609.16","15,644.97",21.39,34055.29,"30,223.89","36,488.63","29,982.62","36,338.30",18.73,4273.41,"3,700.65","4,793.06","3,700.65","4,766.18",26.89

### Cleaning dataframe

In [7]:
# Assuming your existing DataFrame is named index_df

# Select the 'Annual % Change' columns along with the 'Year' column
index_df = index_df[['Year'] + index_df.filter(regex='Annual % Change').columns.tolist()]

# Now, annual_change_df should contain the 'Year' column and the 'Annual % Change' columns
# Display the new DataFrame
index_df

,Year,Annual % Change_nasdaq,Annual % Change_dowj,Annual % Change_sp500
0,NaN,NaN,NaN,NaN
1,2024.0,9.05,5.55,9.89
2,2023.0,43.42,13.70,24.23
3,2022.0,-33.10,-8.78,-19.44
4,2021.0,21.39,18.73,26.89
5,2020.0,43.64,7.25,16.26
6,2019.0,35.23,22.34,28.88
7,2018.0,-3.88,-5.63,-6.24
8,2017.0,28.24,25.08,19.42
9,2016.0,7.50,13.42,9.54
10,2015.0,5.73,-2.23,-0.73
11,2014.0,13.40,7.52,11.39
12,2013.0,38.32,26.50,29.60
13,2012.0,15.91,7.26,13.41
14,2011.0,-1.80,5.53,0.00
15,2010.0,16.91,11.02,12.78
16,2009.0,43.89,18.82,23.45
17,2008.0,-40.54,-33.84,-38.49
18,2007.0,9.81,6.43,3.53
19,2006.0,9.52,16.29,13.62
20,2005.0,1.37,-0.61,3.00
21,2004.0,8.59,3.15,8.99
22,2003.0,50.01,25.32,26.38
23,2002.0,-31.53,-16.76,-23.37
24,2001.0,-21.05,-7.10,-13.04
25,2000.0,-39.29,-6.17,-10.14
26,1999.0,85.59,25.22,19.53
27,1998.0,39.63,16.10,26.67
28,1997.0,21.64,22.64,31.01
29,1996.0,22.71,26.01,20.26
30,1995.0,39.92,33.45,34.11
31,1994.0,-3.20,2.14,-1.54
32,1993.0,14.75,13.72,7.06
33,1992.0,15.45,4.17,4.46
34,1991.0,56.86,20.32,26.31
35,1990.0,-17.81,-4.34,-6.56
36,1989.0,19.24,26.96,27.25
37,1988.0,15.40,11.85,12.40
38,1987.0,-5.25,2.26,2.03
39,1986.0,7.36,22.58,14.62
40,1985.0,31.49,27.66,26.33
41,1984.0,-11.31,-3.74,1.40
42,1983.0,19.87,20.27,17.27
43,1982.0,18.67,19.60,14.76
44,1981.0,-3.21,-9.23,-9.73
45,1980.0,33.88,14.93,25.77
46,1979.0,28.11,4.19,12.31
47,1978.0,12.31,-3.15,1.06
48,1977.0,7.33,-17.27,-11.50
49,1976.0,26.10,17.86,19.15
50,1975.0,29.76,38.32,31.55
51,1974.0,-35.11,-27.57,-29.72
52,1973.0,-31.06,-16.58,-17.37
53,1972.0,17.18,14.58,15.63

# PRECIOUS METALS INFO

## GOLD HISTORICAL PERFORMANCE

In [8]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/1333/historical-gold-prices-100-year-chart", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    # For this example, let's assume we're looking for a table with the class 'historical-data-table'
    table = soup.find('table', class_='table') # was 'historical-data-table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    gold_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    monetary_columns = ['Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close']
    for column in monetary_columns:
        gold_df[column] = pd.to_numeric(gold_df[column].str.replace('$', '').str.replace(',', ''), errors='coerce')
    
    # Remove the percentage sign and convert to float for the 'Annual % Change' column
    gold_df['Annual % Change'] = pd.to_numeric(gold_df['Annual % Change'].str.replace('%', ''), errors='coerce')
    
    # The 'Annual % Change' column is now a numeric value; if you want it as a proportion rather than a percentage,
    # you can divide by 100 gold_df['Annual % Change'] = gold_df['Annual % Change'] / 100
    
    # Convert 'Year' to numeric
    gold_df['Year'] = pd.to_numeric(gold_df['Year'], errors='coerce')
    
    print(gold_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

      Year  Average Closing Price  Year Open  Year High  Year Low  Year Close  \
0      NaN                    NaN        NaN        NaN       NaN         NaN
1   2024.0                2063.65    2064.61    2205.43   1992.06     2159.85
2   2023.0                1943.00    1824.16    2115.10   1811.27     2062.92
3   2022.0                1801.87    1800.10    2043.30   1626.65     1824.32
4   2021.0                1798.89    1946.60    1954.40   1678.00     1828.60
5   2020.0                1773.73    1520.55    2058.40   1472.35     1895.10
6   2019.0                1393.34    1287.20    1542.60   1270.05     1523.00
7   2018.0                1268.93    1312.80    1360.25   1176.70     1281.65
8   2017.0                1260.39    1162.00    1351.20   1162.00     1296.50
9   2016.0                1251.92    1075.20    1372.60   1073.60     1151.70
10  2015.0                1158.86    1184.25    1298.00   1049.60     1060.20
11  2014.0                1266.06    1219.75    1379.00   1144.50     1199.25
12  2013.0                1409.51    1681.50    1692.50   1192.75     1201.50
13  2012.0                1668.86    1590.00    1790.00   1537.50     1664.00
14  2011.0                1573.16    1405.50    1896.50   1316.00     1574.50
15  2010.0                1226.66    1113.00    1426.00   1052.25     1410.25
16  2009.0                 973.66     869.75    1218.25    813.00     1104.00
17  2008.0                 872.37     840.75    1023.50    692.50      865.00
18  2007.0                 696.43     640.75     841.75    608.30      836.50
19  2006.0                 604.34     520.75     725.75    520.75      635.70
20  2005.0                 444.99     426.80     537.50    411.50      513.00
21  2004.0                 409.53     415.20     455.75    373.50      438.00
22  2003.0                 363.83     342.20     417.25    319.75      417.25
23  2002.0                 310.08     278.10     348.50    277.80      342.75
24  2001.0                 271.19     272.80     292.85    256.70      276.50
25  2000.0                 279.29     282.05     316.60    263.80      272.65
26  1999.0                 278.86     288.25     326.25    252.90      290.85
27  1998.0                 294.12     287.70     314.60    273.40      287.45
28  1997.0                 331.00     367.80     367.80    283.05      289.20
29  1996.0                 387.73     387.10     416.25    368.30      369.55
30  1995.0                 384.07     381.40     396.95    372.45      386.70
31  1994.0                 384.16     395.00     397.50    370.25      382.50
32  1993.0                 360.05     329.40     406.70    326.50      390.65
33  1992.0                 343.87     351.20     359.30    330.20      332.90
34  1991.0                 362.34     392.50     403.70    343.50      353.40
35  1990.0                 383.73     401.65     421.40    346.75      391.00
36  1989.0                 381.27     413.60     417.15    358.10      401.00
37  1988.0                 436.78     484.10     485.30    389.05      410.15
38  1987.0                 446.84     402.40     502.75    392.60      486.50
39  1986.0                 368.20     327.10     442.75    326.00      390.90
40  1985.0                 317.42     306.25     339.30    285.00      327.00
41  1984.0                 360.65     384.00     406.85    303.25      309.00
42  1983.0                 423.71     452.75     511.50    374.75      381.50
43  1982.0                 376.11     399.00     488.50    297.00      448.00
44  1981.0                 459.16     592.00     599.25    391.75      400.00
45  1980.0                 614.75     559.00     843.00    474.00      589.50
46  1979.0                 307.01     227.15     524.00    216.55      524.00
47  1978.0                 193.57     168.60     243.65    166.30      224.50
48  1977.0                 147.84     136.10     168.15    129.40      165.60
49  1976.0                 124.80     140.35     140.35    103.05      134.55
50  1975.0                 160.87     185.00     186.25    128.75      140.25
51  1974.0                 158.76     114.75     197.50    114.75      187.50
52  1973.0                  97.12      64.99     127.00     64.10      112.25
53  1972.0                  58.17      43.73      70.00     43.73       64.70
54  1971.0                  40.80      37.33      43.90     37.33       43.50
55  1970.0                  35.96      35.13      39.19     34.78       37.38
56  1969.0                  41.10      41.80      43.75     35.00       35.21

    Annual % Change
0               NaN
1              4.70
2             13.08
3             -0.23
4             -3.51
5             24.43
6             18.83
7             -1.15
8             12.57
9              8.63
10           -11.59
11            -0.19
12           -27.79
13             5.68
14            11.65
15            27.74
16            27.63
17             3.41
18            31.59
19            23.92
20            17.12
21             4.97
22            21.74
23            23.96
24             1.41
25            -6.26
26             1.18
27            -0.61
28           -21.74
29            -4.43
30             1.10
31            -2.09
32            17.35
33            -5.80
34            -9.62
35            -2.49
36            -2.23
37           -15.69
38            24.46
39            19.54
40             5.83
41           -19.00
42           -14.84
43            12.00
44           -32.15
45            12.50
46           133.41
47            35.57
48            23.08
49            -4.06
50           -25.20
51            67.04
52            73.49
53            48.74
54            16.37
55             6.16
56           -16.07

## SILVER HISTORICAL PERFORMANCE

In [9]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/1470/historical-silver-prices-100-year-chart", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    # For this example, let's assume we're looking for a table with the class 'historical-data-table'
    table = soup.find('table', class_='table') # was 'historical-data-table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    silver_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    monetary_columns = ['Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close']
    for column in monetary_columns:
        silver_df[column] = pd.to_numeric(silver_df[column].str.replace('$', '').str.replace(',', ''), errors='coerce')
    
    # Remove the percentage sign and convert to float for the 'Annual % Change' column
    silver_df['Annual % Change'] = pd.to_numeric(silver_df['Annual % Change'].str.replace('%', ''), errors='coerce')
    
    # The 'Annual % Change' column is now a numeric value; if you want it as a proportion rather than a percentage,
    # you can divide by 100 silver_df['Annual % Change'] = silver_df['Annual % Change'] / 100
    
    # Convert 'Year' to numeric
    silver_df['Year'] = pd.to_numeric(silver_df['Year'], errors='coerce')
    
    print(silver_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

      Year  Average Closing Price  Year Open  Year High  Year Low  Year Close  \
0      NaN                    NaN        NaN        NaN       NaN         NaN
1   2024.0                  23.27      23.79      25.71     22.09       24.66
2   2023.0                  23.40      23.96      26.06     20.01       23.79
3   2022.0                  21.76      22.81      26.90     17.83       23.96
4   2021.0                  25.14      27.36      29.42     21.49       23.35
5   2020.0                  20.69      18.05      29.26     11.77       26.40
6   2019.0                  16.22      15.65      19.55     14.32       17.90
7   2018.0                  15.71      17.21      17.62     13.98       15.52
8   2017.0                  17.07      16.41      18.51     15.43       17.13
9   2016.0                  17.17      13.84      20.70     13.75       15.99
10  2015.0                  15.66      15.71      18.23     13.70       13.80
11  2014.0                  19.07      19.94      22.05     15.28       15.97
12  2013.0                  23.79      30.87      32.23     18.61       19.50
13  2012.0                  31.15      28.78      37.23     26.67       29.95
14  2011.0                  35.12      30.67      48.70     26.16       28.18
15  2010.0                  20.19      17.17      30.70     15.14       30.63
16  2009.0                  14.67      11.08      19.18     10.51       16.99
17  2008.0                  14.99      14.93      20.92      8.88       10.79
18  2007.0                  13.38      13.01      15.82     11.67       14.76
19  2006.0                  11.55       9.04      14.94      8.83       12.90
20  2005.0                   7.31       6.39       9.23      6.39        8.83
21  2004.0                   6.66       5.99       8.29      5.50        6.82
22  2003.0                   4.88       4.74       5.97      4.37        5.97
23  2002.0                   4.60       4.59       5.10      4.24        4.67
24  2001.0                   4.37       4.59       4.82      4.07        4.52
25  2000.0                   4.95       5.30       5.45      4.57        4.58
26  1999.0                   5.22       5.00       5.75      4.88        5.33
27  1998.0                   5.54       5.94       7.81      4.69        5.01
28  1997.0                   4.90       4.77       6.27      4.22        6.00
29  1996.0                   5.20       5.17       5.83      4.71        4.80
30  1995.0                   5.20       4.84       6.04      4.42        5.14
31  1994.0                   5.29       5.28       5.75      4.64        4.85
32  1993.0                   4.31       3.66       5.42      3.56        5.12
33  1992.0                   3.95       3.87       4.34      3.65        3.67
34  1991.0                   4.06       4.16       4.57      3.55        3.86
35  1990.0                   4.83       5.21       5.36      3.95        4.19
36  1989.0                   5.50       6.07       6.21      5.05        5.22
37  1988.0                   6.53       6.64       7.82      6.05        6.05
38  1987.0                   7.02       5.36      10.93      5.36        6.70
39  1986.0                   5.47       5.81       6.31      4.85        5.28
40  1985.0                   6.13       6.25       6.75      5.45        5.80
41  1984.0                   8.15       8.96      10.11      6.22        6.29
42  1983.0                  11.42      11.07      14.67      7.54        8.91
43  1982.0                   7.92       8.06      11.11      4.90       10.87
44  1981.0                  10.49      15.80      16.30      8.03        8.15
45  1980.0                  20.98      39.95      49.45     10.89       15.50
46  1979.0                  11.07       6.08      32.20      5.94       32.20
47  1978.0                   5.42       4.87       6.26      4.82        6.02
48  1977.0                   4.64       4.43       4.98      4.31        4.76
49  1976.0                   4.35       4.16       5.08      3.83        4.36
50  1975.0                   4.43       4.44       5.21      3.93        4.18
51  1974.0                   4.67       3.28       6.76      3.27        4.47
52  1973.0                   2.55       2.04       3.26      1.96        3.26
53  1972.0                   1.68       1.37       2.03      1.37        2.03
54  1971.0                   1.54       1.65       1.75      1.27        1.37
55  1970.0                   1.77       1.80       1.93      1.57        1.63
56  1969.0                   1.80       1.96       2.04      1.56        1.79

    Annual % Change
0               NaN
1              3.64
2             -0.72
3              2.64
4            -11.55
5             47.44
6             15.36
7             -9.40
8              7.12
9             15.86
10           -13.59
11           -18.10
12           -34.89
13             6.28
14            -8.00
15            80.28
16            57.46
17           -26.90
18            14.42
19            46.09
20            29.47
21            14.24
22            27.84
23             3.32
24            -1.31
25           -14.07
26             6.39
27           -16.50
28            25.00
29            -6.61
30             5.98
31            -5.27
32            39.51
33            -4.92
34            -7.88
35           -19.73
36           -13.72
37            -9.70
38            26.89
39            -8.97
40            -7.79
41           -29.41
42           -18.03
43            33.37
44           -47.42
45           -51.86
46           434.88
47            26.47
48             9.17
49             4.31
50            -6.49
51            37.12
52            60.59
53            48.18
54           -15.95
55            -8.94
56            -8.21

## Merging these together

In [10]:
metals_df = gold_df.merge(silver_df, on='Year', how='inner', suffixes=('_gold', '_silver'))
metals_df.head()

,Year,Average Closing Price_gold,Year Open_gold,Year High_gold,Year Low_gold,Year Close_gold,Annual % Change_gold,Average Closing Price_silver,Year Open_silver,Year High_silver,Year Low_silver,Year Close_silver,Annual % Change_silver
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024.0,2063.65,2064.61,2205.43,1992.06,2159.85,4.70,23.27,23.79,25.71,22.09,24.66,3.64
2,2023.0,1943.00,1824.16,2115.10,1811.27,2062.92,13.08,23.40,23.96,26.06,20.01,23.79,-0.72
3,2022.0,1801.87,1800.10,2043.30,1626.65,1824.32,-0.23,21.76,22.81,26.90,17.83,23.96,2.64
4,2021.0,1798.89,1946.60,1954.40,1678.00,1828.60,-3.51,25.14,27.36,29.42,21.49,23.35,-11.55

In [11]:
# Select the 'Annual % Change' columns along with the 'Year' column
metals_df = metals_df[['Year'] + metals_df.filter(regex='Annual % Change').columns.tolist()]

# Now, annual_change_df should contain the 'Year' column and the 'Annual % Change' columns
# Display the new DataFrame
metals_df

      Year  Annual % Change_gold  Annual % Change_silver
0      NaN                   NaN                     NaN
1   2024.0                  4.70                    3.64
2   2023.0                 13.08                   -0.72
3   2022.0                 -0.23                    2.64
4   2021.0                 -3.51                  -11.55
5   2020.0                 24.43                   47.44
6   2019.0                 18.83                   15.36
7   2018.0                 -1.15                   -9.40
8   2017.0                 12.57                    7.12
9   2016.0                  8.63                   15.86
10  2015.0                -11.59                  -13.59
11  2014.0                 -0.19                  -18.10
12  2013.0                -27.79                  -34.89
13  2012.0                  5.68                    6.28
14  2011.0                 11.65                   -8.00
15  2010.0                 27.74                   80.28
16  2009.0                 27.63                   57.46
17  2008.0                  3.41                  -26.90
18  2007.0                 31.59                   14.42
19  2006.0                 23.92                   46.09
20  2005.0                 17.12                   29.47
21  2004.0                  4.97                   14.24
22  2003.0                 21.74                   27.84
23  2002.0                 23.96                    3.32
24  2001.0                  1.41                   -1.31
25  2000.0                 -6.26                  -14.07
26  1999.0                  1.18                    6.39
27  1998.0                 -0.61                  -16.50
28  1997.0                -21.74                   25.00
29  1996.0                 -4.43                   -6.61
30  1995.0                  1.10                    5.98
31  1994.0                 -2.09                   -5.27
32  1993.0                 17.35                   39.51
33  1992.0                 -5.80                   -4.92
34  1991.0                 -9.62                   -7.88
35  1990.0                 -2.49                  -19.73
36  1989.0                 -2.23                  -13.72
37  1988.0                -15.69                   -9.70
38  1987.0                 24.46                   26.89
39  1986.0                 19.54                   -8.97
40  1985.0                  5.83                   -7.79
41  1984.0                -19.00                  -29.41
42  1983.0                -14.84                  -18.03
43  1982.0                 12.00                   33.37
44  1981.0                -32.15                  -47.42
45  1980.0                 12.50                  -51.86
46  1979.0                133.41                  434.88
47  1978.0                 35.57                   26.47
48  1977.0                 23.08                    9.17
49  1976.0                 -4.06                    4.31
50  1975.0                -25.20                   -6.49
51  1974.0                 67.04                   37.12
52  1973.0                 73.49                   60.59
53  1972.0                 48.74                   48.18
54  1971.0                 16.37                  -15.95
55  1970.0                  6.16                   -8.94
56  1969.0                -16.07                   -8.21

# OIL INFO

## CRUDE OIL HISTORICAL PERFORMANCE

In [12]:
import pandas as pd

In [13]:
crude_df = pd.read_csv('crude.csv', skiprows=15, header=None)

crude_df.head()

            0       1
0        date   value
1  1947-12-01   27.78
2  1948-12-01   24.15
3  1949-12-01       0
4  1950-12-01       0

In [14]:
# Drop the first row that contains 'date' and 'value'
crude_df = crude_df.iloc[1:]

# Convert the first column to datetime to extract the year
crude_df['Year'] = pd.to_datetime(crude_df[0]).dt.year

# Rename the second column to 'crude_price'
crude_df.rename(columns={1: 'Annual % Change_crude'}, inplace=True)

# Keep only the 'Year' and 'crude_price' columns
crude_df = crude_df[['Year', 'Annual % Change_crude']]

# Convert 'crude_price' to numeric, in case it's not already
crude_df['Annual % Change_crude'] = pd.to_numeric(crude_df['Annual % Change_crude'], errors='coerce')

# Sort the DataFrame by 'Year' in descending order
crude_df.sort_values(by='Year', ascending=False, inplace=True)

# Reset the index of the DataFrame
crude_df.reset_index(drop=True, inplace=True)

In [15]:
crude_df

    Year  Annual % Change_crude
0   2024                  14.54
1   2023                 -11.40
2   2022                   7.05
3   2021                  55.01
4   2020                 -20.54
..   ...                    ...
73  1951                   0.00
74  1950                   0.00
75  1949                   0.00
76  1948                  24.15
77  1947                  27.78

[78 rows x 2 columns]

# COMMODITIES INFO

## COPPER HISTORICAL PERFORMANCE

In [16]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/1476/copper-prices-historical-chart-data", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    # For this example, let's assume we're looking for a table with the class 'historical-data-table'
    table = soup.find('table', class_='table') # was 'historical-data-table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    copper_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    monetary_columns = ['Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close']
    for column in monetary_columns:
        copper_df[column] = pd.to_numeric(copper_df[column].str.replace('$', '').str.replace(',', ''), errors='coerce')
    
    # Remove the percentage sign and convert to float for the 'Annual % Change' column
    copper_df['Annual % Change'] = pd.to_numeric(copper_df['Annual % Change'].str.replace('%', ''), errors='coerce')
    
    # The 'Annual % Change' column is now a numeric value; if you want it as a proportion rather than a percentage,
    # you can divide by 100 silver_df['Annual % Change'] = silver_df['Annual % Change'] / 100
    
    # Convert 'Year' to numeric
    copper_df['Year'] = pd.to_numeric(copper_df['Year'], errors='coerce')
    
    print(copper_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

      Year  Average Closing Price  Year Open  Year High  Year Low  Year Close  \
0      NaN                    NaN        NaN        NaN       NaN         NaN
1   2024.0                 3.8555     3.8912     4.1328    3.6864      4.0080
2   2023.0                 3.8662     3.8192     4.2864    3.5728      3.8912
3   2022.0                 3.9969     4.4215     4.9375    3.2272      3.8192
4   2021.0                 4.2445     3.5545     4.7620    3.5245      4.4618
..     ...                    ...        ...        ...       ...         ...
61  1964.0                 0.4032     0.3055     0.5895    0.3045      0.3715
62  1963.0                 0.2976     0.2870     0.3046    0.2870      0.3046
63  1962.0                 0.2925     0.3019     0.3075    0.2800      0.2879
64  1961.0                 0.2981     0.2767     0.3276    0.2672      0.3015
65  1960.0                 0.2983     0.3187     0.3286    0.2753      0.2773

    Annual % Change
0               NaN
1              3.00
2              1.89
3            -14.40
4             26.83
..              ...
61            21.96
62             5.80
63            -4.51
64             8.73
65           -13.32

[66 rows x 7 columns]

## CORN HISTORICAL PERFORMANCE

In [37]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/2532/corn-prices-historical-chart-data", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    # For this example, let's assume we're looking for a table with the class 'historical-data-table'
    table = soup.find('table', class_='table') # was 'historical-data-table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    corn_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    monetary_columns = ['Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close']
    for column in monetary_columns:
        corn_df[column] = pd.to_numeric(corn_df[column].str.replace('$', '').str.replace(',', ''), errors='coerce')
    
    # Remove the percentage sign and convert to float for the 'Annual % Change' column
    corn_df['Annual % Change'] = pd.to_numeric(corn_df['Annual % Change'].str.replace('%', ''), errors='coerce')
    
    # The 'Annual % Change' column is now a numeric value; if you want it as a proportion rather than a percentage,
    # you can divide by 100 silver_df['Annual % Change'] = silver_df['Annual % Change'] / 100
    
    # Convert 'Year' to numeric
    corn_df['Year'] = pd.to_numeric(corn_df['Year'], errors='coerce')
    
    print(corn_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

      Year  Average Closing Price  Year Open  Year High  Year Low  Year Close  \
0      NaN                    NaN        NaN        NaN       NaN         NaN
1   2024.0                 4.3599     4.7125     4.7125    3.9975      4.4000
2   2023.0                 5.6579     6.7850     6.8525    4.4975      4.7075
3   2022.0                 6.9429     5.8925     8.1575    5.6225      6.7850
4   2021.0                 5.7491     4.8375     7.3225    4.8375      5.9325
..     ...                    ...        ...        ...       ...         ...
61  1964.0                 1.2174     1.1910     1.2710    1.1710      1.2630
62  1963.0                 1.1929     1.1340     1.2720    1.1240      1.2010
63  1962.0                 1.0952     1.1050     1.1710    1.0400      1.1260
64  1961.0                 1.1290     1.1020     1.1930    1.0770      1.1060
65  1960.0                 1.1392     1.1400     1.2170    1.0070      1.0930

    Annual % Change
0               NaN
1             -6.53
2            -30.62
3             14.37
4             22.57
..              ...
61             5.16
62             6.66
63             1.81
64             1.19
65            -3.87

[66 rows x 7 columns]

## COTTON HISTORICAL PERFORMANCE

In [23]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/2533/cotton-prices-historical-chart-data", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    # For this example, let's assume we're looking for a table with the class 'historical-data-table'
    table = soup.find('table', class_='table') # was 'historical-data-table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    cotton_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    monetary_columns = ['Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close']
    for column in monetary_columns:
        cotton_df[column] = pd.to_numeric(cotton_df[column].str.replace('$', '').str.replace(',', ''), errors='coerce')
    
    # Remove the percentage sign and convert to float for the 'Annual % Change' column
    cotton_df['Annual % Change'] = pd.to_numeric(cotton_df['Annual % Change'].str.replace('%', ''), errors='coerce')
    
    # The 'Annual % Change' column is now a numeric value; if you want it as a proportion rather than a percentage,
    # you can divide by 100 silver_df['Annual % Change'] = silver_df['Annual % Change'] / 100
    
    # Convert 'Year' to numeric
    cotton_df['Year'] = pd.to_numeric(cotton_df['Year'], errors='coerce')
    
    print(cotton_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

      Year  Average Closing Price  Year Open  Year High  Year Low  Year Close  \
0      NaN                    NaN        NaN        NaN       NaN         NaN
1   2024.0                 0.8977     0.8100     1.0700    0.8000      0.9200
2   2023.0                 0.8298     0.8300     0.9000    0.7500      0.8100
3   2022.0                 1.1284     1.1323     1.5476    0.7200      0.8300
4   2021.0                 0.9346     0.7897     1.2038    0.7788      1.1260
5   2020.0                 0.6428     0.6927     0.7812    0.4841      0.7812
6   2019.0                 0.6737     0.7084     0.7892    0.5754      0.6905
7   2018.0                 0.8212     0.7750     0.9521    0.7206      0.7220
8   2017.0                 0.7327     0.7178     0.8532    0.6654      0.7863
9   2016.0                 0.6562     0.6261     0.7664    0.5593      0.7065
10  2015.0                 0.6338     0.5958     0.6863    0.5730      0.6328
11  2014.0                 0.7607     0.8404     0.9475    0.5854      0.6027
12  2013.0                 0.8361     0.7536     0.9340    0.7479      0.8464
13  2012.0                 0.7989     0.9580     0.9937    0.6689      0.7514
14  2011.0                 1.3601     1.4220     2.1414    0.8512      0.9180
15  2010.0                 0.9368     0.7600     1.5912    0.6662      1.4481
16  2009.0                 0.5733     0.4891     0.7625    0.4118      0.7560
17  2008.0                 0.6392     0.6888     0.8928    0.3914      0.4902
18  2007.0                 0.5752     0.5489     0.6801    0.4692      0.6801
19  2006.0                 0.5242     0.5524     0.5743    0.4612      0.5619
20  2005.0                 0.5057     0.4412     0.5829    0.4270      0.5419
21  2004.0                 0.5541     0.7580     0.7594    0.4231      0.4477
22  2003.0                 0.6026     0.5201     0.8273    0.4770      0.7507
23  2002.0                 0.4165     0.3646     0.5217    0.3306      0.5116
24  2001.0                 0.4317     0.6035     0.6201    0.2852      0.3559
25  2000.0                 0.6044     0.5107     0.6785    0.5073      0.6228
26  1999.0                 0.5497     0.5903     0.6273    0.4845      0.5074
27  1998.0                 0.6914     0.6711     0.8060    0.5994      0.6036
28  1997.0                 0.7272     0.7538     0.7795    0.6612      0.6707
29  1996.0                 0.7834     0.8067     0.8805    0.7000      0.7515
30  1995.0                 0.9290     0.8835     1.1688    0.7307      0.8105
31  1994.0                 0.7529     0.6776     0.9035    0.6647      0.9035
32  1993.0                 0.5998     0.5842     0.6788    0.5392      0.6788
33  1992.0                 0.5788     0.5958     0.6543    0.5107      0.5886
34  1991.0                 0.7389     0.7580     0.9405    0.5620      0.5917
35  1990.0                 0.7390     0.6834     0.8477    0.6451      0.7780
36  1989.0                 0.6789     0.5667     0.7627    0.5613      0.6907
37  1988.0                 0.5965     0.6748     0.6945    0.5040      0.5849
38  1987.0                 0.6737     0.5852     0.8039    0.5265      0.6676
39  1986.0                 0.5328     0.6228     0.6859    0.3001      0.5928
40  1985.0                 0.6268     0.6604     0.7005    0.5765      0.6206
41  1984.0                 0.7280     0.7532     0.8611    0.6345      0.6617
42  1983.0                 0.7507     0.6583     0.8108    0.6503      0.7711
43  1982.0                 0.6563     0.6542     0.7244    0.6130      0.6592
44  1981.0                 0.7698     0.9465     0.9550    0.6094      0.6427
45  1980.0                 0.8480     0.7515     0.9777    0.7178      0.9512
46  1979.0                 0.6478     0.6738     0.7417    0.5757      0.7406
47  1978.0                 0.6124     0.5422     0.7184    0.5327      0.6757
48  1977.0                 0.6350     0.7320     0.8215    0.5025      0.5369
49  1976.0                 0.7176     0.6212     0.9236    0.5696      0.7520
50  1975.0                 0.4789     0.3847     0.6129    0.3765      0.6087
51  1974.0                 0.5713     0.8675     0.8896    0.3676      0.3685
52  1973.0                 0.5987     0.3610     0.9502    0.3610      0.8875

    Annual % Change
0               NaN
1             13.58
2             -2.41
3            -26.29
4             44.14
5             13.14
6             -4.36
7             -8.18
8             11.30
9             11.65
10             4.99
11           -28.79
12            12.64
13           -18.15
14           -36.61
15            91.55
16            54.22
17           -27.92
18            21.04
19             3.69
20            21.04
21           -40.36
22            46.74
23            43.75
24           -42.85
25            22.74
26           -15.94
27           -10.00
28           -10.75
29            -7.28
30           -10.29
31            33.10
32            15.32
33            -0.52
34           -23.95
35            12.64
36            18.09
37           -12.39
38            12.62
39            -4.48
40            -6.21
41           -14.19
42            16.98
43             2.57
44           -32.43
45            28.44
46             9.60
47            25.85
48           -28.60
49            23.54
50            65.18
51           -58.48
52           150.00

## COFFEE HISTORICAL PERFORMANCE

In [89]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/2535/coffee-prices-historical-chart-data", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    # For this example, let's assume we're looking for a table with the class 'historical-data-table'
    table = soup.find('table', class_='table') # was 'historical-data-table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    coffee_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    monetary_columns = ['Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close']
    for column in monetary_columns:
        coffee_df[column] = pd.to_numeric(coffee_df[column].str.replace('$', '').str.replace(',', ''), errors='coerce')
    
    # Remove the percentage sign and convert to float for the 'Annual % Change' column
    coffee_df['Annual % Change'] = pd.to_numeric(coffee_df['Annual % Change'].str.replace('%', ''), errors='coerce')
    
    # The 'Annual % Change' column is now a numeric value; if you want it as a proportion rather than a percentage,
    # you can divide by 100 silver_df['Annual % Change'] = silver_df['Annual % Change'] / 100
    
    # Convert 'Year' to numeric
    coffee_df['Year'] = pd.to_numeric(coffee_df['Year'], errors='coerce')
    
    print(coffee_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

      Year  Average Closing Price  Year Open  Year High  Year Low  Year Close  \
0      NaN                    NaN        NaN        NaN       NaN         NaN
1   2024.0                 1.8893     1.9611     1.9940    1.7727      1.8505
2   2023.0                 1.6453     1.6700     2.0165    0.0168      1.9611
3   2022.0                 2.1443     2.2330     2.5835    1.5200      1.6700
4   2021.0                 1.6933     1.2615     2.4985    1.2090      2.2610
5   2020.0                 1.1138     1.2710     1.3400    0.9365      1.2825
6   2019.0                 1.0182     0.9950     1.3895    0.8705      1.2970
7   2018.0                 1.1360     1.3020     1.3020    0.9585      1.0185
8   2017.0                 1.3346     1.3740     1.5540    1.1345      1.2620
9   2016.0                 1.3683     1.2390     1.7435    1.1160      1.3705
10  2015.0                 1.3315     1.6105     1.8005    1.1215      1.2670
11  2014.0                 1.7840     1.1140     2.2190    1.1140      1.6660
12  2013.0                 1.2625     1.4940     1.5630    1.0150      1.1070
13  2012.0                 1.7528     2.2720     2.3490    1.3990      1.4380
14  2011.0                 2.5338     2.3495     3.0615    2.1510      2.2685
15  2010.0                 1.6416     1.4185     2.4050    1.2880      2.4050
16  2009.0                 1.2576     1.1090     1.4830    1.0570      1.3595
17  2008.0                 1.3262     1.3400     1.6755    1.0320      1.1205
18  2007.0                 1.1800     1.2360     1.3930    1.0435      1.3620
19  2006.0                 1.0847     1.0860     1.2890    0.9405      1.2620
20  2005.0                 1.0811     1.0310     1.3810    0.8645      1.0710
21  2004.0                 0.7674     0.6860     1.0795    0.6555      1.0375
22  2003.0                 0.6246     0.6165     0.7205    0.5605      0.6495
23  2002.0                 0.5400     0.4735     0.7285    0.4300      0.6020
24  2001.0                 0.5569     0.6340     0.7125    0.4250      0.4620
25  2000.0                 0.9047     1.1650     1.1905    0.6505      0.6555
26  1999.0                 1.0417     1.2260     1.4405    0.8135      1.2590
27  1998.0                 1.2930     1.7070     1.8195    1.0110      1.1775
28  1997.0                 1.7934     1.1665     3.1480    1.1405      1.6245
29  1996.0                 1.1552     0.9125     1.3645    0.9125      1.1690
30  1995.0                 1.4634     1.6775     1.8775    0.9390      0.9490
31  1994.0                 1.4484     0.7250     2.4680    0.7155      1.6885
32  1993.0                 0.6858     0.7480     0.8315    0.5215      0.7155
33  1992.0                 0.6531     0.7900     0.8190    0.4825      0.7755
34  1991.0                 0.8577     0.8805     0.9585    0.7650      0.7770
35  1990.0                 0.9082     0.8055     1.0425    0.7755      0.8865
36  1989.0                 1.0574     1.6590     1.6590    0.6870      0.7955
37  1988.0                 1.3114     1.2630     1.5935    1.0885      1.5935
38  1987.0                 1.1647     1.3250     1.3400    0.9930      1.2595
39  1986.0                 1.9958     2.5855     2.7345    1.3260      1.3685
40  1985.0                 1.4858     1.4160     2.4665    1.3130      2.4130
41  1984.0                 1.4349     1.3780     1.5745    1.3355      1.4225
42  1983.0                 1.3139     1.3270     1.4960    1.2070      1.3880
43  1982.0                 1.3565     1.4240     1.5970    1.2040      1.2985
44  1981.0                 1.2238     1.3170     1.4970    0.8572      1.3970
45  1980.0                 1.5841     1.7760     2.0305    1.0410      1.2680
46  1979.0                 1.7763     1.3497     2.2027    1.2225      1.8155
47  1978.0                 1.5637     1.9517     2.0125    1.0900      1.3288
48  1977.0                 2.3166     2.2856     3.3563    1.4906      1.9203
49  1976.0                 1.4249     0.8710     2.2445    0.8690      2.2445
50  1975.0                 0.6565     0.5959     0.8790    0.4630      0.8725
51  1974.0                 0.6702     0.6890     0.7880    0.5017      0.5962

    Annual % Change
0               NaN
1             -5.64
2             17.43
3            -26.14
4             76.30
5             -1.12
6             27.34
7            -19.29
8             -7.92
9              8.17
10           -23.95
11            50.50
12           -23.02
13           -36.61
14            -5.68
15            76.90
16            21.33
17           -17.73
18             7.92
19            17.83
20             3.23
21            59.74
22             7.89
23            30.30
24           -29.52
25           -47.93
26             6.92
27           -27.52
28            38.96
29            23.18
30           -43.80
31           135.99
32            -7.74
33            -0.19
34           -12.35
35            11.44
36           -50.08
37            26.52
38            -7.96
39           -43.29
40            69.63
41             2.49
42             6.89
43            -7.05
44            10.17
45           -30.16
46            36.63
47           -30.80
48           -14.44
49           157.25
50            46.34
51           -11.54

## SUGAR HISTORICAL PERFORMANCE

In [70]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/2537/sugar-prices-historical-chart-data", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    # For this example, let's assume we're looking for a table with the class 'historical-data-table'
    table = soup.find('table', class_='table') # was 'historical-data-table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    sugar_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    monetary_columns = ['Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close']
    for column in monetary_columns:
        sugar_df[column] = pd.to_numeric(sugar_df[column].str.replace('$', '').str.replace(',', ''), errors='coerce')
    
    # Remove the percentage sign and convert to float for the 'Annual % Change' column
    sugar_df['Annual % Change'] = pd.to_numeric(sugar_df['Annual % Change'].str.replace('%', ''), errors='coerce')
    
    # The 'Annual % Change' column is now a numeric value; if you want it as a proportion rather than a percentage,
    # you can divide by 100 silver_df['Annual % Change'] = silver_df['Annual % Change'] / 100
    
    # Convert 'Year' to numeric
    sugar_df['Year'] = pd.to_numeric(sugar_df['Year'], errors='coerce')
    
    print(sugar_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

      Year  Average Closing Price  Year Open  Year High  Year Low  Year Close  \
0      NaN                    NaN        NaN        NaN       NaN         NaN
1   2024.0                 0.2254     0.2049     0.2445    0.2049      0.2186
2   2023.0                 0.2402     0.2005     0.2797    0.1966      0.2049
3   2022.0                 0.1880     0.1874     0.2098    0.1740      0.2005
4   2021.0                 0.1788     0.1576     0.2042    0.1471      0.1888
..     ...                    ...        ...        ...       ...         ...
58  1967.0                 0.0218     0.0129     0.0345    0.0125      0.0252
59  1966.0                 0.0193     0.0226     0.0273    0.0132      0.0132
60  1965.0                 0.0227     0.0243     0.0290    0.0157      0.0230
61  1964.0                 0.0571     0.1004     0.1100    0.0245      0.0250
62  1963.0                 0.0752     0.0425     0.1183    0.0425      0.1037

    Annual % Change
0               NaN
1              6.69
2              2.19
3              6.20
4             21.89
..              ...
58            90.91
59           -42.61
60            -8.00
61           -75.89
62           149.88

[63 rows x 7 columns]

### Congregating Commodity Data

In [90]:
# Merge the data frames on 'Year' column using an inner join
commodities_df = copper_df.merge(corn_df, on='Year', how='inner', suffixes=('_copper', '_corn'))
commodities_df = commodities_df.merge(cotton_df, on='Year', how='inner', suffixes=('', '_cotton'))
commodities_df = commodities_df.merge(coffee_df, on='Year', how='inner', suffixes=('', '_coffee'))
commodities_df = commodities_df.merge(sugar_df, on='Year', how='inner', suffixes=('', '_sugar'))

# Rename the columns to reflect the commodity name if needed
# For example, if cotton_df columns get no suffix, you might need to rename them
commodities_df.columns = [col if '_cotton' in col or col == 'Year' else f"{col}_cotton" for col in commodities_df.columns]

# The resulting commodities_df will have only the rows with 'Year' values that exist in all five data frames

In [91]:
commodities_df.head()

,Year,Average Closing Price_copper_cotton,Year Open_copper_cotton,Year High_copper_cotton,Year Low_copper_cotton,Year Close_copper_cotton,Annual % Change_copper_cotton,Average Closing Price_corn_cotton,Year Open_corn_cotton,Year High_corn_cotton,...,Year High_coffee_cotton,Year Low_coffee_cotton,Year Close_coffee_cotton,Annual % Change_coffee_cotton,Average Closing Price_sugar_cotton,Year Open_sugar_cotton,Year High_sugar_cotton,Year Low_sugar_cotton,Year Close_sugar_cotton,Annual % Change_sugar_cotton
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024.0,3.8555,3.8912,4.1328,3.6864,4.0080,3.00,4.3599,4.7125,4.7125,...,1.9940,1.7727,1.8505,-5.64,0.2254,0.2049,0.2445,0.2049,0.2186,6.69
2,2023.0,3.8662,3.8192,4.2864,3.5728,3.8912,1.89,5.6579,6.7850,6.8525,...,2.0165,0.0168,1.9611,17.43,0.2402,0.2005,0.2797,0.1966,0.2049,2.19
3,2022.0,3.9969,4.4215,4.9375,3.2272,3.8192,-14.40,6.9429,5.8925,8.1575,...,2.5835,1.5200,1.6700,-26.14,0.1880,0.1874,0.2098,0.1740,0.2005,6.20
4,2021.0,4.2445,3.5545,4.7620,3.5245,4.4618,26.83,5.7491,4.8375,7.3225,...,2.4985,1.2090,2.2610,76.30,0.1788,0.1576,0.2042,0.1471,0.1888,21.89

In [92]:
# Select the 'Annual % Change' columns along with the 'Year' column
commodities_df = commodities_df[['Year'] + commodities_df.filter(regex='Annual % Change').columns.tolist()]

# Now, annual_change_df should contain the 'Year' column and the 'Annual % Change' columns
# Display the new DataFrame
commodities_df

,Year,Annual % Change_copper_cotton,Annual % Change_corn_cotton,Annual % Change_cotton,Annual % Change_coffee_cotton,Annual % Change_sugar_cotton
0,NaN,NaN,NaN,NaN,NaN,NaN
1,2024.0,3.00,-6.53,13.58,-5.64,6.69
2,2023.0,1.89,-30.62,-2.41,17.43,2.19
3,2022.0,-14.40,14.37,-26.29,-26.14,6.20
4,2021.0,26.83,22.57,44.14,76.30,21.89
5,2020.0,25.80,24.82,13.14,-1.12,15.42
6,2019.0,6.31,3.40,-4.36,27.34,11.55
7,2018.0,-20.20,6.91,-8.18,-19.29,-20.65
8,2017.0,31.65,-0.36,11.30,-7.92,-22.30
9,2016.0,17.38,-1.88,11.65,8.17,28.02
10,2015.0,-24.57,-9.63,4.99,-23.95,4.96
11,2014.0,-16.95,-5.92,-28.79,50.50,-11.52
12,2013.0,-6.70,-39.56,12.64,-23.02,-15.89
13,2012.0,6.26,8.00,-18.15,-36.61,-16.27
14,2011.0,-22.73,2.78,-36.61,-5.68,-27.46
15,2010.0,32.99,51.75,91.55,76.90,19.18
16,2009.0,137.58,1.84,54.22,21.33,128.20
17,2008.0,-53.70,-10.65,-27.92,-17.73,9.15
18,2007.0,5.97,16.72,21.04,7.92,-7.91
19,2006.0,38.81,80.88,3.69,17.83,-19.96
20,2005.0,41.56,5.37,21.04,3.23,62.39
21,2004.0,39.66,-16.77,-40.36,59.74,59.44
22,2003.0,48.99,4.35,46.74,7.89,-25.49
23,2002.0,6.63,12.80,43.75,30.30,2.98
24,2001.0,-22.03,-9.82,-42.85,-29.52,-27.55
25,2000.0,-2.00,13.33,22.74,-47.93,66.67
26,1999.0,28.44,-4.22,-15.94,6.92,-22.14
27,1998.0,-13.91,-19.43,-10.00,-27.52,-35.68
28,1997.0,-22.73,2.61,-10.75,38.96,11.09
29,1996.0,-17.17,-30.06,-7.28,23.18,-5.17
30,1995.0,-12.44,59.85,-10.29,-43.80,-23.53
31,1994.0,66.95,-24.51,33.10,135.99,40.85
32,1993.0,-19.54,41.34,15.32,-7.74,28.06
33,1992.0,6.22,-13.92,-0.52,-0.19,-6.56
34,1991.0,-16.87,8.52,-23.95,-12.35,-3.95
35,1990.0,9.98,-3.34,12.64,11.44,-28.80
36,1989.0,-23.21,-15.73,18.09,-50.08,18.03
37,1988.0,5.78,53.99,-12.39,26.52,17.49
38,1987.0,114.95,15.47,12.62,-7.96,54.06
39,1986.0,-4.69,-35.55,-4.48,-43.29,9.61
40,1985.0,12.20,-7.80,-6.21,69.63,35.10
41,1984.0,-14.55,-20.16,-14.19,2.49,-49.14
42,1983.0,-3.80,37.79,16.98,6.89,19.42
43,1982.0,-7.90,-9.52,2.57,-7.05,-48.03
44,1981.0,-12.39,-28.44,-32.43,10.17,-56.90
45,1980.0,-18.00,30.68,28.44,-30.16,87.49
46,1979.0,48.19,24.81,9.60,36.63,93.48
47,1978.0,17.66,3.58,25.85,-30.80,-10.32
48,1977.0,-4.60,-12.77,-28.60,-14.44,16.92
49,1976.0,14.29,-1.91,23.54,157.25,-44.17
50,1975.0,3.37,-23.48,65.18,46.34,-69.49
51,1974.0,-38.47,27.16,-58.48,-11.54,282.81

# EXCHANGE RATE INFO

## POUND DOLLAR EXCHANGE RATE HISTORICAL DATA

In [93]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/2549/pound-dollar-exchange-rate-historical-chart", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    # For this example, let's assume we're looking for a table with the class 'historical-data-table'
    table = soup.find('table', class_='table') # was 'historical-data-table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    pound_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    monetary_columns = ['Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close']
    for column in monetary_columns:
        pound_df[column] = pd.to_numeric(pound_df[column].str.replace('$', '').str.replace(',', ''), errors='coerce')
    
    # Remove the percentage sign and convert to float for the 'Annual % Change' column
    pound_df['Annual % Change'] = pd.to_numeric(pound_df['Annual % Change'].str.replace('%', ''), errors='coerce')
    
    # The 'Annual % Change' column is now a numeric value; if you want it as a proportion rather than a percentage,
    # you can divide by 100 silver_df['Annual % Change'] = silver_df['Annual % Change'] / 100
    
    # Convert 'Year' to numeric
    pound_df['Year'] = pd.to_numeric(pound_df['Year'], errors='coerce')
    
    print(pound_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

      Year  Average Closing Price  Year Open  Year High  Year Low  Year Close  \
0      NaN                    NaN        NaN        NaN       NaN         NaN
1   2024.0                   1.27       1.27       1.28      1.25        1.27
2   2023.0                   1.24       1.21       1.31      1.18        1.27
3   2022.0                   1.24       1.35       1.37      1.07        1.21
4   2021.0                   1.38       1.37       1.42      1.32        1.35
5   2020.0                   1.28       1.33       1.37      1.15        1.37
6   2019.0                   1.28       1.27       1.34      1.20        1.33
7   2018.0                   1.33       1.35       1.43      1.25        1.27
8   2017.0                   1.29       1.23       1.36      1.20        1.35
9   2016.0                   1.35       1.47       1.49      1.21        1.23
10  2015.0                   1.53       1.54       1.59      1.46        1.47
11  2014.0                   1.65       1.64       1.72      1.55        1.56
12  2013.0                   1.56       1.63       1.66      1.48        1.66
13  2012.0                   1.59       1.57       1.63      1.53        1.63
14  2011.0                   1.60       1.55       1.67      1.54        1.55
15  2010.0                   1.55       1.61       1.64      1.43        1.54
16  2009.0                   1.57       1.45       1.70      1.37        1.62
17  2008.0                   1.85       1.98       2.03      1.44        1.46
18  2007.0                   2.00       1.97       2.11      1.92        1.98
19  2006.0                   1.84       1.74       1.98      1.73        1.96
20  2005.0                   1.82       1.91       1.93      1.71        1.72
21  2004.0                   1.83       1.79       1.95      1.75        1.92
22  2003.0                   1.63       1.60       1.78      1.55        1.78
23  2002.0                   1.50       1.45       1.61      1.41        1.61
24  2001.0                   1.44       1.50       1.50      1.37        1.45
25  2000.0                   1.52       1.63       1.65      1.40        1.50
26  1999.0                   1.62       1.66       1.68      1.55        1.62
27  1998.0                   1.66       1.64       1.72      1.61        1.66
28  1997.0                   1.64       1.69       1.70      1.58        1.64
29  1996.0                   1.56       1.56       1.71      1.49        1.71
30  1995.0                   1.58       1.56       1.64      1.53        1.55
31  1994.0                   1.53       1.48       1.64      1.46        1.57
32  1993.0                   1.50       1.50       1.59      1.42        1.48
33  1992.0                   1.77       1.87       2.00      1.51        1.51
34  1991.0                   1.77       1.94       2.00      1.60        1.87
35  1990.0                   1.78       1.61       1.98      1.59        1.93
36  1989.0                   1.64       1.82       1.82      1.51        1.61
37  1988.0                   1.78       1.88       1.91      1.66        1.81
38  1987.0                   1.64       1.49       1.89      1.47        1.89
39  1986.0                   1.47       1.45       1.56      1.38        1.48
40  1985.0                   1.30       1.15       1.49      1.05        1.45
41  1984.0                   1.34       1.43       1.49      1.16        1.16
42  1983.0                   1.52       1.62       1.62      1.42        1.45
43  1982.0                   1.75       1.93       1.93      1.59        1.62
44  1981.0                   2.02       2.38       2.43      1.77        1.92
45  1980.0                   2.33       2.24       2.45      2.14        2.39
46  1979.0                   2.12       2.03       2.33      1.98        2.22
47  1978.0                   1.92       1.96       2.10      1.81        2.04
48  1977.0                   1.75       1.70       1.92      1.70        1.92
49  1976.0                   1.80       2.02       2.03      1.57        1.70
50  1975.0                   2.22       2.33       2.43      2.02        2.02
51  1974.0                   2.34       2.30       2.44      2.17        2.35
52  1973.0                   2.45       2.35       2.58      2.31        2.32
53  1972.0                   2.50       2.55       2.64      2.33        2.35

    Annual % Change
0               NaN
1             -0.51
2              5.22
3            -10.52
4             -1.23
5              3.21
6              4.04
7             -5.67
8              9.51
9            -16.05
10            -5.77
11            -6.02
12             1.84
13             5.16
14             0.65
15            -4.94
16            10.96
17           -26.26
18             1.02
19            13.95
20           -10.42
21             7.87
22            10.56
23            11.03
24            -3.33
25            -7.41
26            -2.41
27             1.22
28            -4.09
29            10.32
30            -1.27
31             6.08
32            -1.99
33           -19.25
34            -3.11
35            19.88
36           -11.05
37            -4.23
38            27.70
39             2.07
40            25.00
41           -20.00
42           -10.49
43           -15.63
44           -19.67
45             7.66
46             8.82
47             6.25
48            12.94
49           -15.84
50           -14.04
51             1.29
52            -1.28
53            -7.84

## YEN DOLLAR EXCHANGE RATE HISTORICAL DATA

In [94]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/2550/dollar-yen-exchange-rate-historical-chart", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    # For this example, let's assume we're looking for a table with the class 'historical-data-table'
    table = soup.find('table', class_='table') # was 'historical-data-table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    yen_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    monetary_columns = ['Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close']
    for column in monetary_columns:
        yen_df[column] = pd.to_numeric(yen_df[column].str.replace('$', '').str.replace(',', ''), errors='coerce')
    
    # Remove the percentage sign and convert to float for the 'Annual % Change' column
    yen_df['Annual % Change'] = pd.to_numeric(yen_df['Annual % Change'].str.replace('%', ''), errors='coerce')
    
    # The 'Annual % Change' column is now a numeric value; if you want it as a proportion rather than a percentage,
    # you can divide by 100 silver_df['Annual % Change'] = silver_df['Annual % Change'] / 100
    
    # Convert 'Year' to numeric
    yen_df['Year'] = pd.to_numeric(yen_df['Year'], errors='coerce')
    
    print(yen_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

      Year  Average Closing Price  Year Open  Year High  Year Low  Year Close  \
0      NaN                    NaN        NaN        NaN       NaN         NaN
1   2024.0                 147.80     141.13     150.73    141.13      150.69
2   2023.0                 140.73     130.73     151.65    127.90      141.03
3   2022.0                 131.50     115.11     150.14    113.67      131.12
4   2021.0                 109.84     103.24     115.42    102.72      115.11
5   2020.0                 106.76     108.69     112.06    102.37      103.25
6   2019.0                 109.01     109.69     112.08    105.28      108.68
7   2018.0                 110.34     112.63     114.44    104.73      109.66
8   2017.0                 112.15     117.55     117.75    107.84      112.69
9   2016.0                 108.69     119.30     121.06     99.89      116.96
10  2015.0                 121.05     120.20     125.58    116.78      120.27
11  2014.0                 105.74     104.84     121.38    101.11      119.85
12  2013.0                  97.60      87.10     105.25     86.92      105.25
13  2012.0                  79.82      76.67      86.64     76.11       86.64
14  2011.0                  79.70      81.56      85.26     75.72       76.98
15  2010.0                  87.78      92.55      94.68     80.48       81.67
16  2009.0                  93.68      91.12     100.71     86.12       93.08
17  2008.0                 103.39     109.70     110.48     87.84       90.79
18  2007.0                 117.76     118.83     124.09    108.17      111.71
19  2006.0                 116.31     116.34     119.81    110.07      119.02
20  2005.0                 110.11     102.83     120.93    102.26      117.88
21  2004.0                 108.15     106.95     114.30    102.56      102.68
22  2003.0                 115.94     119.86     121.42    106.93      107.13
23  2002.0                 125.22     132.02     134.77    115.71      118.75
24  2001.0                 121.57     114.73     131.47    114.26      131.04
25  2000.0                 107.80     101.70     114.62    101.70      114.35
26  1999.0                 113.73     112.15     124.45    101.53      102.16
27  1998.0                 130.99     132.40     147.14    113.08      113.08
28  1997.0                 121.06     115.49     131.08    111.42      130.45
29  1996.0                 108.78     103.92     116.13    103.92      115.77
30  1995.0                  93.96     100.52     104.20     81.12      103.28
31  1994.0                 102.18     112.50     113.10     96.77       99.60
32  1993.0                 111.08     125.40     126.10    101.10      111.70
33  1992.0                 126.78     124.50     134.53    119.35      124.85
34  1991.0                 134.59     134.60     141.90    124.90      124.90
35  1990.0                 145.00     146.25     159.90    125.05      135.75
36  1989.0                 138.07     123.60     149.62    123.60      143.80
37  1988.0                 128.17     122.70     136.52    121.10      125.05
38  1987.0                 144.60     158.25     159.40    121.25      121.25
39  1986.0                 168.35     199.15     202.70    152.00      158.30
40  1985.0                 238.47     251.80     262.80    200.25      200.25
41  1984.0                 237.46     232.45     251.60    222.70      251.60
42  1983.0                 237.55     232.00     247.05    226.75      231.70
43  1982.0                 249.06     218.75     277.65    218.75      234.70
44  1981.0                 220.63     202.50     246.10    199.05      219.80
45  1980.0                 226.63     238.45     261.40    203.10      203.10
46  1979.0                 219.02     194.58     250.85    194.58      240.30
47  1978.0                 210.39     237.59     242.42    177.05      194.30
48  1977.0                 268.62     292.48     292.91    237.81      239.98
49  1976.0                 296.45     305.06     306.00    286.04      293.08
50  1975.0                 296.78     300.66     306.84    284.66      305.16
51  1974.0                 291.84     280.82     305.34    274.42      301.02
52  1973.0                 271.31     301.39     302.57    254.45      280.27
53  1972.0                 303.13     314.86     314.96    294.12      301.66

    Annual % Change
0               NaN
1              6.85
2              7.56
3             13.91
4             11.49
5             -5.00
6             -0.89
7             -2.69
8             -3.65
9             -2.75
10             0.35
11            13.87
12            21.48
13            12.55
14            -5.74
15           -12.26
16             2.52
17           -18.73
18            -6.14
19             0.97
20            14.80
21            -4.15
22            -9.79
23            -9.38
24            14.60
25            11.93
26            -9.66
27           -13.32
28            12.68
29            12.09
30             3.69
31           -10.83
32           -10.53
33            -0.04
34            -7.99
35            -5.60
36            14.99
37             3.13
38           -23.40
39           -20.95
40           -20.41
41             8.59
42            -1.28
43             6.78
44             8.22
45           -15.48
46            23.67
47           -19.03
48           -18.12
49            -3.96
50             1.38
51             7.40
52            -7.09
53            -4.24

### Aggregating exchange rate data

In [95]:
exchrt_df = pound_df.merge(yen_df, on='Year', how='inner', suffixes=('_pound', '_yen'))
exchrt_df.head()

,Year,Average Closing Price_pound,Year Open_pound,Year High_pound,Year Low_pound,Year Close_pound,Annual % Change_pound,Average Closing Price_yen,Year Open_yen,Year High_yen,Year Low_yen,Year Close_yen,Annual % Change_yen
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024.0,1.27,1.27,1.28,1.25,1.27,-0.51,147.80,141.13,150.73,141.13,150.69,6.85
2,2023.0,1.24,1.21,1.31,1.18,1.27,5.22,140.73,130.73,151.65,127.90,141.03,7.56
3,2022.0,1.24,1.35,1.37,1.07,1.21,-10.52,131.50,115.11,150.14,113.67,131.12,13.91
4,2021.0,1.38,1.37,1.42,1.32,1.35,-1.23,109.84,103.24,115.42,102.72,115.11,11.49

In [96]:
exchrt_df = exchrt_df[['Year'] + exchrt_df.filter(regex='Annual % Change').columns.tolist()]

exchrt_df

      Year  Annual % Change_pound  Annual % Change_yen
0      NaN                    NaN                  NaN
1   2024.0                  -0.51                 6.85
2   2023.0                   5.22                 7.56
3   2022.0                 -10.52                13.91
4   2021.0                  -1.23                11.49
5   2020.0                   3.21                -5.00
6   2019.0                   4.04                -0.89
7   2018.0                  -5.67                -2.69
8   2017.0                   9.51                -3.65
9   2016.0                 -16.05                -2.75
10  2015.0                  -5.77                 0.35
11  2014.0                  -6.02                13.87
12  2013.0                   1.84                21.48
13  2012.0                   5.16                12.55
14  2011.0                   0.65                -5.74
15  2010.0                  -4.94               -12.26
16  2009.0                  10.96                 2.52
17  2008.0                 -26.26               -18.73
18  2007.0                   1.02                -6.14
19  2006.0                  13.95                 0.97
20  2005.0                 -10.42                14.80
21  2004.0                   7.87                -4.15
22  2003.0                  10.56                -9.79
23  2002.0                  11.03                -9.38
24  2001.0                  -3.33                14.60
25  2000.0                  -7.41                11.93
26  1999.0                  -2.41                -9.66
27  1998.0                   1.22               -13.32
28  1997.0                  -4.09                12.68
29  1996.0                  10.32                12.09
30  1995.0                  -1.27                 3.69
31  1994.0                   6.08               -10.83
32  1993.0                  -1.99               -10.53
33  1992.0                 -19.25                -0.04
34  1991.0                  -3.11                -7.99
35  1990.0                  19.88                -5.60
36  1989.0                 -11.05                14.99
37  1988.0                  -4.23                 3.13
38  1987.0                  27.70               -23.40
39  1986.0                   2.07               -20.95
40  1985.0                  25.00               -20.41
41  1984.0                 -20.00                 8.59
42  1983.0                 -10.49                -1.28
43  1982.0                 -15.63                 6.78
44  1981.0                 -19.67                 8.22
45  1980.0                   7.66               -15.48
46  1979.0                   8.82                23.67
47  1978.0                   6.25               -19.03
48  1977.0                  12.94               -18.12
49  1976.0                 -15.84                -3.96
50  1975.0                 -14.04                 1.38
51  1974.0                   1.29                 7.40
52  1973.0                  -1.28                -7.09
53  1972.0                  -7.84                -4.24

# Interest Rate Info

### Federal Funds Rate

In [97]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/2015/fed-funds-rate-historical-chart", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    # For this example, let's assume we're looking for a table with the class 'historical-data-table'
    table = soup.find('table', class_='table') # was 'historical-data-table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    FFR_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    monetary_columns = ['Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close']
    for column in monetary_columns:
        FFR_df[column] = pd.to_numeric(FFR_df[column].str.replace('$', '').str.replace(',', ''), errors='coerce')
    
    # Remove the percentage sign and convert to float for the 'Annual % Change' column
    FFR_df['Annual % Change'] = pd.to_numeric(FFR_df['Annual % Change'].str.replace('%', ''), errors='coerce')
    
    # The 'Annual % Change' column is now a numeric value; if you want it as a proportion rather than a percentage,
    # you can divide by 100 silver_df['Annual % Change'] = silver_df['Annual % Change'] / 100
    
    # Convert 'Year' to numeric
    FFR_df['Year'] = pd.to_numeric(FFR_df['Year'], errors='coerce')
    
    print(FFR_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

      Year  Average Closing Price  Year Open  Year High  Year Low  Year Close  \
0      NaN                    NaN        NaN        NaN       NaN         NaN
1   2024.0                    NaN        NaN        NaN       NaN         NaN
2   2023.0                    NaN        NaN        NaN       NaN         NaN
3   2022.0                    NaN        NaN        NaN       NaN         NaN
4   2021.0                    NaN        NaN        NaN       NaN         NaN
..     ...                    ...        ...        ...       ...         ...
66  1959.0                    NaN        NaN        NaN       NaN         NaN
67  1958.0                    NaN        NaN        NaN       NaN         NaN
68  1957.0                    NaN        NaN        NaN       NaN         NaN
69  1956.0                    NaN        NaN        NaN       NaN         NaN
70  1955.0                    NaN        NaN        NaN       NaN         NaN

    Annual % Change
0               NaN
1              0.00
2             23.09
3           6085.71
4            -22.22
..              ...
66            68.07
67           -20.67
68             0.00
69            20.00
70            73.61

[71 rows x 7 columns]

### 10 year treasury rate

In [98]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/2016/10-year-treasury-bond-rate-yield-chart", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    # For this example, let's assume we're looking for a table with the class 'historical-data-table'
    table = soup.find('table', class_='table') # was 'historical-data-table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    tenyrRate_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    monetary_columns = ['Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close']
    for column in monetary_columns:
        tenyrRate_df[column] = pd.to_numeric(tenyrRate_df[column].str.replace('$', '').str.replace(',', ''), errors='coerce')
    
    # Remove the percentage sign and convert to float for the 'Annual % Change' column
    tenyrRate_df['Annual % Change'] = pd.to_numeric(tenyrRate_df['Annual % Change'].str.replace('%', ''), errors='coerce')
    
    # The 'Annual % Change' column is now a numeric value; if you want it as a proportion rather than a percentage,
    # you can divide by 100 silver_df['Annual % Change'] = silver_df['Annual % Change'] / 100
    
    # Convert 'Year' to numeric
    tenyrRate_df['Year'] = pd.to_numeric(tenyrRate_df['Year'], errors='coerce')
    
    print(tenyrRate_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

      Year  Average Closing Price  Year Open  Year High  Year Low  Year Close  \
0      NaN                    NaN        NaN        NaN       NaN         NaN
1   2024.0                    NaN        NaN        NaN       NaN         NaN
2   2023.0                    NaN        NaN        NaN       NaN         NaN
3   2022.0                    NaN        NaN        NaN       NaN         NaN
4   2021.0                    NaN        NaN        NaN       NaN         NaN
..     ...                    ...        ...        ...       ...         ...
58  1967.0                    NaN        NaN        NaN       NaN         NaN
59  1966.0                    NaN        NaN        NaN       NaN         NaN
60  1965.0                    NaN        NaN        NaN       NaN         NaN
61  1964.0                    NaN        NaN        NaN       NaN         NaN
62  1963.0                    NaN        NaN        NaN       NaN         NaN

    Annual % Change
0               NaN
1             10.05
2              0.00
3            155.26
4             63.44
..              ...
58            22.84
59            -0.22
60            10.45
61             1.69
62             7.53

[63 rows x 7 columns]

### One year treasury rate

In [99]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

# Send a get request to the URL
response = requests.get("https://www.macrotrends.net/2492/1-year-treasury-rate-yield-chart", headers=headers)

# Make sure the request was successful
if response.status_code == 200:
    # Parse the content of the page with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Find the table in the page
    # If there are multiple tables, you may need to find a unique identifier for the one you want
    # For this example, let's assume we're looking for a table with the class 'historical-data-table'
    table = soup.find('table', class_='table') # was 'historical-data-table'
    
    # Initialize a list to store all rows of the table
    data = []
    
    # Find all rows in the table, skip the first one if it's the header
    for row in table.find_all('tr')[1:]:
        # Extract text from all cells in the row
        cols = [ele.text.strip() for ele in row.find_all('td')]
        # Append to the data list
        data.append(cols)
    
    # Convert the list to a pandas DataFrame
    oneyrRate_df = pd.DataFrame(data, columns=['Year', 'Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close', 'Annual % Change'])
    
    monetary_columns = ['Average Closing Price', 'Year Open', 'Year High', 'Year Low', 'Year Close']
    for column in monetary_columns:
        oneyrRate_df[column] = pd.to_numeric(oneyrRate_df[column].str.replace('$', '').str.replace(',', ''), errors='coerce')
    
    # Remove the percentage sign and convert to float for the 'Annual % Change' column
    oneyrRate_df['Annual % Change'] = pd.to_numeric(oneyrRate_df['Annual % Change'].str.replace('%', ''), errors='coerce')
    
    # The 'Annual % Change' column is now a numeric value; if you want it as a proportion rather than a percentage,
    # you can divide by 100 silver_df['Annual % Change'] = silver_df['Annual % Change'] / 100
    
    # Convert 'Year' to numeric
    oneyrRate_df['Year'] = pd.to_numeric(oneyrRate_df['Year'], errors='coerce')
    
    print(oneyrRate_df)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

      Year  Average Closing Price  Year Open  Year High  Year Low  Year Close  \
0      NaN                    NaN        NaN        NaN       NaN         NaN
1   2024.0                   4.89       4.80       5.06      4.65        5.01
2   2023.0                   5.08       4.72       5.49      4.19        4.79
3   2022.0                   2.80       0.40       4.80      0.38        4.73
4   2021.0                   0.10       0.10       0.39      0.04        0.39
..     ...                    ...        ...        ...       ...         ...
58  1967.0                   4.88       5.00       5.76      4.07        5.76
59  1966.0                   5.20       4.94       5.99      4.80        5.00
60  1965.0                   4.15       3.96       4.96      3.92        4.96
61  1964.0                   3.85       3.84       4.12      3.67        3.99
62  1963.0                   3.36       3.04       3.84      2.98        3.83

    Annual % Change
0               NaN
1              4.59
2              1.27
3           1112.82
4            290.00
..              ...
58            15.20
59             0.81
60            24.31
61             4.18
62            25.57

[63 rows x 7 columns]

In [100]:
rate_df = FFR_df.merge(tenyrRate_df, on='Year', how='inner', suffixes=('_FFRrate', '_tenyrRate'))
rate_df = rate_df.merge(oneyrRate_df, on='Year', how='inner')
rate_df

,Year,Average Closing Price_FFRrate,Year Open_FFRrate,Year High_FFRrate,Year Low_FFRrate,Year Close_FFRrate,Annual % Change_FFRrate,Average Closing Price_tenyrRate,Year Open_tenyrRate,Year High_tenyrRate,Year Low_tenyrRate,Year Close_tenyrRate,Annual % Change_tenyrRate,Average Closing Price,Year Open,Year High,Year Low,Year Close,Annual % Change
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,10.05,4.89,4.80,5.06,4.65,5.01,4.59
2,2023.0,NaN,NaN,NaN,NaN,NaN,23.09,NaN,NaN,NaN,NaN,NaN,0.00,5.08,4.72,5.49,4.19,4.79,1.27
3,2022.0,NaN,NaN,NaN,NaN,NaN,6085.71,NaN,NaN,NaN,NaN,NaN,155.26,2.80,0.40,4.80,0.38,4.73,1112.82
4,2021.0,NaN,NaN,NaN,NaN,NaN,-22.22,NaN,NaN,NaN,NaN,NaN,63.44,0.10,0.10,0.39,0.04,0.39,290.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,1967.0,NaN,NaN,NaN,NaN,NaN,-10.00,NaN,NaN,NaN,NaN,NaN,22.84,4.88,5.00,5.76,4.07,5.76,15.20
59,1966.0,NaN,NaN,NaN,NaN,NaN,7.99,NaN,NaN,NaN,NaN,NaN,-0.22,5.20,4.94,5.99,4.80,5.00,0.81
60,1965.0,NaN,NaN,NaN,NaN,NaN,15.75,NaN,NaN,NaN,NaN,NaN,10.45,4.15,3.96,4.96,3.92,4.96,24.31
61,1964.0,NaN,NaN,NaN,NaN,NaN,23.08,NaN,NaN,NaN,NaN,NaN,1.69,3.85,3.84,4.12,3.67,3.99,4.18
62,1963.0,NaN,NaN,NaN,NaN,NaN,8.33,NaN,NaN,NaN,NaN,NaN,7.53,3.36,3.04,3.84,2.98,3.83,25.57

In [101]:
rate_df.rename(columns={
    'Average Closing Price': 'Average Closing Price_oneyrRate',
    'Year Open': 'Year Open_oneyrRate',
    'Year High': 'Year High_oneyrRate',
    'Year Low': 'Year Low_oneyrRate',
    'Year Close': 'Year Close_oneyrRate',
    'Annual % Change': 'Annual % Change_oneyrRate'
}, inplace=True)

rate_df.head()

,Year,Average Closing Price_FFRrate,Year Open_FFRrate,Year High_FFRrate,Year Low_FFRrate,Year Close_FFRrate,Annual % Change_FFRrate,Average Closing Price_tenyrRate,Year Open_tenyrRate,Year High_tenyrRate,Year Low_tenyrRate,Year Close_tenyrRate,Annual % Change_tenyrRate,Average Closing Price_oneyrRate,Year Open_oneyrRate,Year High_oneyrRate,Year Low_oneyrRate,Year Close_oneyrRate,Annual % Change_oneyrRate
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,10.05,4.89,4.80,5.06,4.65,5.01,4.59
2,2023.0,NaN,NaN,NaN,NaN,NaN,23.09,NaN,NaN,NaN,NaN,NaN,0.00,5.08,4.72,5.49,4.19,4.79,1.27
3,2022.0,NaN,NaN,NaN,NaN,NaN,6085.71,NaN,NaN,NaN,NaN,NaN,155.26,2.80,0.40,4.80,0.38,4.73,1112.82
4,2021.0,NaN,NaN,NaN,NaN,NaN,-22.22,NaN,NaN,NaN,NaN,NaN,63.44,0.10,0.10,0.39,0.04,0.39,290.00

In [102]:
rate_df = rate_df[['Year'] + rate_df.filter(regex='Annual % Change').columns.tolist()]

rate_df

,Year,Annual % Change_FFRrate,Annual % Change_tenyrRate,Annual % Change_oneyrRate
0,NaN,NaN,NaN,NaN
1,2024.0,0.00,10.05,4.59
2,2023.0,23.09,0.00,1.27
3,2022.0,6085.71,155.26,1112.82
4,2021.0,-22.22,63.44,290.00
...,...,...,...,...
58,1967.0,-10.00,22.84,15.20
59,1966.0,7.99,-0.22,0.81
60,1965.0,15.75,10.45,24.31
61,1964.0,23.08,1.69,4.18
62,1963.0,8.33,7.53,25.57

# Economic Indicators

### Unemployment rate

In [117]:
unempl_df = pd.read_csv('us-national-unemployment-rate.csv', skiprows=15, header=None)

unempl_df.head()

            0       1
0        date   value
1  1948-01-01   3.400
2  1948-02-01   3.800
3  1948-03-01   4.000
4  1948-04-01   3.900

In [118]:
# Drop the first row that contains 'date' and 'value'
unempl_df = unempl_df.iloc[1:]

# Convert the first column to datetime to extract the year
unempl_df['Year'] = pd.to_datetime(unempl_df[0]).dt.year

# Rename the second column to 'crude_price'
unempl_df.rename(columns={1: 'Annual Unemployment Rate'}, inplace=True)

# Keep only the 'Year' and 'crude_price' columns
unempl_df = unempl_df[['Year', 'Annual Unemployment Rate']]

# Convert 'crude_price' to numeric, in case it's not already
unempl_df['Annual Unemployment Rate'] = pd.to_numeric(unempl_df['Annual Unemployment Rate'], errors='coerce')

# Sort the DataFrame by 'Year' in descending order
unempl_df.sort_values(by='Year', ascending=False, inplace=True)

# Reset the index of the DataFrame
unempl_df.reset_index(drop=True, inplace=True)

In [119]:
unempl_df = unempl_df.groupby('Year', as_index=False)['Annual Unemployment Rate'].mean()
unempl_df

    Year  Annual Unemployment Rate
0   1948                  3.750000
1   1949                  6.050000
2   1950                  5.208333
3   1951                  3.283333
4   1952                  3.025000
..   ...                       ...
72  2020                  8.091667
73  2021                  5.341667
74  2022                  3.633333
75  2023                  3.625000
76  2024                  3.800000

[77 rows x 2 columns]

# FINAL CREATION OF DATA SET

In [120]:
final_df = index_df.merge(metals_df, on='Year', how='inner')
final_df = final_df.merge(crude_df, on='Year', how='inner')
final_df = final_df.merge(commodities_df, on='Year', how='inner')
final_df = final_df.merge(exchrt_df, on='Year', how='inner')
final_df = final_df.merge(rate_df, on='Year', how='inner')
final_df = final_df.merge(unempl_df, on='Year', how='inner')

# Now, final_df will contain only the rows where 'Year' values are present in all data frames
# Display the final merged DataFrame

In [121]:
final_df

,Year,Annual % Change_nasdaq,Annual % Change_dowj,Annual % Change_sp500,Annual % Change_gold,Annual % Change_silver,Annual % Change_crude,Annual % Change_copper_cotton,Annual % Change_corn_cotton,Annual % Change_cotton,Annual % Change_coffee_cotton,Annual % Change_sugar_cotton,Annual % Change_pound,Annual % Change_yen,Annual % Change_FFRrate,Annual % Change_tenyrRate,Annual % Change_oneyrRate,Annual Unemployment Rate
0,2024.0,9.05,5.55,9.89,4.70,3.64,14.54,3.00,-6.53,13.58,-5.64,6.69,-0.51,6.85,0.00,10.05,4.59,3.800000
1,2023.0,43.42,13.70,24.23,13.08,-0.72,-11.40,1.89,-30.62,-2.41,17.43,2.19,5.22,7.56,23.09,0.00,1.27,3.625000
2,2022.0,-33.10,-8.78,-19.44,-0.23,2.64,7.05,-14.40,14.37,-26.29,-26.14,6.20,-10.52,13.91,6085.71,155.26,1112.82,3.633333
3,2021.0,21.39,18.73,26.89,-3.51,-11.55,55.01,26.83,22.57,44.14,76.30,21.89,-1.23,11.49,-22.22,63.44,290.00,5.341667
4,2020.0,43.64,7.25,16.26,24.43,47.44,-20.54,25.80,24.82,13.14,-1.12,15.42,3.21,-5.00,-94.19,-51.56,-93.71,8.091667
5,2019.0,35.23,22.34,28.88,18.83,15.36,34.46,6.31,3.40,-4.36,27.34,11.55,4.04,-0.89,-35.42,-28.62,-39.54,3.675000
6,2018.0,-3.88,-5.63,-6.24,-1.15,-9.40,-24.84,-20.20,6.91,-8.18,-19.29,-20.65,-5.67,-2.69,80.45,11.83,51.88,3.891667
7,2017.0,28.24,25.08,19.42,12.57,7.12,12.47,31.65,-0.36,11.30,-7.92,-22.30,9.51,-3.65,141.82,-1.59,113.62,4.358333
8,2016.0,7.50,13.42,9.54,8.63,15.86,45.03,17.38,-1.88,11.65,8.17,28.02,-16.05,-2.75,175.00,7.68,24.71,4.875000
9,2015.0,5.73,-2.23,-0.73,-11.59,-13.59,-30.47,-24.57,-9.63,4.99,-23.95,4.96,-5.77,0.35,233.33,4.61,160.00,5.275000
10,2014.0,13.40,7.52,11.39,-0.19,-18.10,-45.87,-16.95,-5.92,-28.79,50.50,-11.52,-6.02,13.87,-14.29,-28.62,92.31,6.158333
11,2013.0,38.32,26.50,29.60,-27.79,-34.89,7.19,-6.70,-39.56,12.64,-23.02,-15.89,1.84,21.48,-22.22,70.79,-18.75,7.358333
12,2012.0,15.91,7.26,13.41,5.68,6.28,-7.09,6.26,8.00,-18.15,-36.61,-16.27,5.16,12.55,125.00,-5.82,33.33,8.075000
13,2011.0,-1.80,5.53,0.00,11.65,-8.00,8.15,-22.73,2.78,-36.61,-5.68,-27.46,0.65,-5.74,-69.23,-42.73,-58.62,8.933333
14,2010.0,16.91,11.02,12.78,27.74,80.28,15.15,32.99,51.75,91.55,76.90,19.18,-4.94,-12.26,160.00,-14.29,-38.30,9.608333
15,2009.0,43.89,18.82,23.45,27.63,57.46,77.94,137.58,1.84,54.22,21.33,128.20,10.96,2.52,-64.29,71.11,27.03,9.283333
16,2008.0,-40.54,-33.84,-38.49,3.41,-26.90,-53.53,-53.70,-10.65,-27.92,-17.73,9.15,-26.26,-18.73,-95.42,-44.31,-88.92,5.800000
17,2007.0,9.81,6.43,3.53,31.59,14.42,57.22,5.97,16.72,21.04,7.92,-7.91,1.02,-6.14,-40.81,-14.23,-33.20,4.616667
18,2006.0,9.52,16.29,13.62,23.92,46.09,0.02,38.81,80.88,3.69,17.83,-19.96,13.95,0.97,26.41,7.29,14.16,4.608333
19,2005.0,1.37,-0.61,3.00,17.12,29.47,40.48,41.56,5.37,21.04,3.23,62.39,-10.42,14.80,107.61,3.54,59.27,5.083333
20,2004.0,8.59,3.15,8.99,4.97,14.24,33.61,39.66,-16.77,-40.36,59.74,59.44,7.87,-4.15,109.57,-0.70,118.25,5.541667
21,2003.0,50.01,25.32,26.38,21.74,27.84,4.23,48.99,4.35,46.74,7.89,-25.49,10.56,-9.79,-18.97,11.49,-4.55,5.991667
22,2002.0,-31.53,-16.76,-23.37,23.96,3.32,57.26,6.63,12.80,43.75,30.30,2.98,11.03,-9.38,-23.68,-24.46,-39.17,5.783333
23,2001.0,-21.05,-7.10,-13.04,1.41,-1.31,-25.97,-22.03,-9.82,-42.85,-29.52,-27.55,-3.33,14.60,-71.90,-0.98,-59.21,4.741667
24,2000.0,-39.29,-6.17,-10.14,-6.26,-14.07,4.69,-2.00,13.33,22.74,-47.93,66.67,-7.41,11.93,35.59,-20.62,-11.04,3.966667
25,1999.0,85.59,25.22,19.53,1.18,6.39,112.45,28.44,-4.22,-15.94,6.92,-22.14,-2.41,-9.66,-1.97,38.71,32.01,4.216667
26,1998.0,39.63,16.10,26.67,-0.61,-16.50,-31.69,-13.91,-19.43,-10.00,-27.52,-35.68,1.22,-13.32,-30.31,-19.13,-17.79,4.500000
27,1997.0,21.64,22.64,31.01,-21.74,25.00,-31.94,-22.73,2.61,-10.75,38.96,11.09,-4.09,12.68,-6.71,-10.58,0.00,4.941667
28,1996.0,22.71,26.01,20.26,-4.43,-6.61,32.58,-17.17,-30.06,-7.28,23.18,-5.17,10.32,12.09,32.35,15.23,6.37,5.408333
29,1995.0,39.92,33.45,34.11,1.10,5.98,10.08,-12.44,59.85,-10.29,-43.80,-23.53,-1.27,3.69,-4.25,-28.83,-28.06,5.591667
30,1994.0,-3.20,2.14,-1.54,-2.09,-5.27,25.34,66.95,-24.51,33.10,135.99,40.85,6.08,-10.83,73.33,34.48,98.35,6.100000
31,1993.0,14.75,13.72,7.06,17.35,39.51,-27.33,-19.54,41.34,15.32,-7.74,28.06,-1.99,-10.53,7.14,-12.99,0.55,6.908333
32,1992.0,15.45,4.17,4.46,-5.80,-4.92,1.99,6.22,-13.92,-0.52,-0.19,-6.56,-19.25,-0.04,-34.96,-0.15,-12.38,7.491667
33,1991.0,56.86,20.32,26.31,-9.62,-7.88,-32.77,-16.87,8.52,-23.95,-12.35,-3.95,-3.11,-7.99,-26.04,-16.96,-39.59,6.850000
34,1990.0,-17.81,-4.34,-6.56,-2.49,-19.73,30.34,9.98,-3.34,12.64,11.44,-28.80,19.88,-5.60,-30.61,1.89,-12.11,5.616667
35,1989.0,19.24,26.96,27.25,-2.23,-13.72,26.57,-23.21,-15.73,18.09,-50.08,18.03,-11.05,14.99,-11.84,-13.24,-13.97,5.258333
36,1988.0,15.40,11.85,12.40,-15.69,-9.70,3.23,5.78,53.99,-12.39,26.52,17.49,-4.23,3.13,31.20,3.51,27.04,5.491667
37,1987.0,-5.25,2.26,2.03,24.46,26.89,-6.91,114.95,15.47,12.62,-7.96,54.06,27.70,-23.40,-51.99,22.13,19.33,6.175000
38,1986.0,7.36,22.58,14.62,19.54,-8.97,-31.79,-4.69,-35.55,-4.48,-43.29,9.61,2.07,-20.95,6.61,-19.67,-21.71,7.000000
39,1985.0,31.49,27.66,26.33,5.83,-7.79,-0.42,12.20,-7.80,-6.21,69.63,35.10,25.00,-20.41,54.00,-22.08,-17.57,7.191667
40,1984.0,-11.31,-3.74,1.40,-19.00,-29.41,-10.78,-14.55,-20.16,-14.19,2.49,-49.14,-20.00,8.59,-11.90,-2.28,-8.53,7.508333
41,1983.0,19.87,20.27,17.27,-14.84,-18.03,-6.68,-3.80,37.79,16.98,6.89,19.42,-10.49,-1.28,-11.43,14.09,16.13,9.600000
42,1982.0,18.67,19.60,14.76,12.00,33.37,-9.37,-7.90,-9.52,2.57,-7.05,-48.03,-15.63,6.78,-14.70,-25.89,-34.98,9.708333
43,1981.0,-3.21,-9.23,-9.73,-32.15,-47.42,-5.41,-12.39,-28.44,-32.43,10.17,-56.90,-19.67,8.22,-40.32,12.47,-3.68,7.616667
44,1980.0,33.88,14.93,25.77,12.50,-51.86,13.85,-18.00,30.68,28.44,-30.16,87.49,7.66,-15.48,48.95,20.33,18.46,7.175000
45,1979.0,28.11,4.19,12.31,133.41,434.88,118.86,48.19,24.81,9.60,36.63,93.48,8.82,23.67,36.25,12.90,10.69,5.850000
46,1978.0,12.31,-3.15,1.06,35.57,26.47,0.00,17.66,3.58,25.85,-30.80,-10.32,6.25,-19.03,66.00,17.61,51.43,6.066667
47,1977.0,7.33,-17.27,-11.50,23.08,9.17,6.83,-4.60,-12.77,-28.60,-14.44,16.92,12.94,-18.12,56.59,14.24,43.62,7.050000
48,1976.0,26.10,17.86,19.15,-4.06,4.31,24.55,14.29,-1.91,23.54,157.25,-44.17,-15.84,-3.96,-22.35,-12.24,-21.10,7.700000
49,1975.0,29.76,38.32,31.55,-25.20,-6.49,0.00,3.37,-23.48,65.18,46.34,-69.49,-14.04,1.38,38.76,4.86,-16.19,8.475000
50,1974.0,-35.11,-27.57,-29.72,67.04,37.12,158.93,-38.47,27.16,-58.48,-11.54,282.81,1.29,7.40,-60.63,7.25,0.68,5.641667

In [122]:
final_df.to_csv('economic_data.csv', index=False)